.align-select-items {
    top: 40%;
    left: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
}

#style-select-items {
    text-decoration: none;
    background-image: var(--div-bg-2);
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}