$footerHeight: 70px;

:root {
  font-family: $syrios-font-family-garamond-premier-pro;
  font-size: 8px;
}

html {
  font-family: $syrios-font-family-garamond-premier-pro;
  position: relative;
  background: url('../../assets/background.jpg'); 
}

.container{
  max-width: 80vmax;
}
em {
  font-style: $syrios-font-style-italic;
}

.info-icon {
  cursor: pointer;
}

.quote blockquote p::before {
  content: '"';
}

.quote blockquote p::after {
  content: '"';
}

.img-fill {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.center-div {
  position: absolute;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


