@font-face {
    font-family: 'cartogothic_stdbook';
    src: url('./cartogothic/cartogothicstd-book-webfont.woff2') format('woff2'),
         url('./cartogothic/cartogothicstd-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cartogothic_stdbook_bold';
    src: url('./cartogothic/CartoGothicStd-Bold.woff2') format('woff2'),
         url('./cartogothic/CartoGothicStd-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}