@import url(src/components/constants.css);

#downloadPage {
  position: fixed;
  /* overflow-y: scroll; */
  -webkit-overflow-scrolling: touch;
  width: 100%;
  top: var(--footerHeight);
  bottom: var(--footerHeight);
}

#DownloadTitle {
  font-size: 7em;
}

.downLoadIcon {
  font-size: 150px;
  color: #7899a8;
}
#downLoad_Sub_Title {
  font-size: x-large;
}
#downLoad_Sub_Text {
  font-size: large;
}

a.InternalLink {
  text-decoration: underline !important;
}

.downloadButton {
  color: #ffffff;
  background: #7899a8 0% 0% no-repeat padding-box;
}
.downloadButton:hover {
  color: #7899a8;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #7899a8;
  border-radius: 15px !important;
  opacity: 1;
  width: 250px;
  transition: 0.5s;
}
/* .ExternalLink {
  color: #7899a8;
  font-size: 18px;
}
a.ExternalIcon {
  color: #183848;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: underline !important;
}
a.NOMISMALink {
  color: #183848;
  font-style: italic;
  font-weight: bold;
}
.NOMISMAIcon {
  color: #7899a8;
  font-size: 18px;
}

a.GlosseryLink {
  color: #183848;
  font-style: italic;
  font-weight: bolder;
}
.GlosseryIcon {
  color: #7899a8;
  font-size: 20px;
}
a.externalLink {
  color: #183848;
  font-style: italic;
  font-weight: bold;
}

sup {
  color: #7899a8;
} */
