// @import url(src/components/constants.css);

#download-page {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  top: var(--footerHeight);
  bottom: var(--footerHeight);
}


.download-icon {
  font-size: 129px;
  color: #7899a8;
}
#download-sub-title {
  font-size: large;
  font-weight: bold;
}
#download-sub-text {
  font-size: medium;
}
.download-button {
  background: #7899A8 0% 0% no-repeat padding-box;
  color:#ffffff;
  opacity: 1;
  border: 1px solid #7899a8;
  border-radius: 15px;
  font-size: 18px;
  font-family: var(--mainFonts);
  width: 250px;
  transition: 0.5s;
}
.download-button:hover{
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #7899A8;
}
#download-alter-text{
  font-family: var(--mainFonts);

}
.form-control{
  font-family: var(--mainFonts);
}
.download-input{
  filter: drop-shadow(0px -2px 4px #d8d6d4);
}

