@import url(src/components/constants.css);

#download-page {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  top: var(--footerHeight);
  bottom: var(--footerHeight);
}

#download-title {
  font-size: 7em;
}

.download-icon {
  font-size: 150px;
  color: #7899a8;
}
#download-sub-title {
  font-size: large;
  font-weight: bold;
}
#download-sub-text {
  font-size: medium;
}
button {
  background: #7899A8;
  color:#ffffff;
  opacity: 1;
  font-size: 18px !important;
  font-family: var(--mainFonts) !important;
}
button:hover{
  background: #ffffff;
  color: #7899A8;
}
#download-alter-text{
  font-family: var(--mainFonts);

}
.form-control{
  font-family: var(--mainFonts);
}
input{
  filter: drop-shadow(0px -2px 4px #d8d6d4);
}


/* a.nomisma-link {
  color: red;
}
a.glossary-link {
  color: orange;
}
a.external-link {
  color: yellow;
}
a.internal-link {
  color: aqua;
} */
