@import url(src/components/constants.css);

#downloadPage {
  position: fixed;
  /* overflow-y: scroll; */
  -webkit-overflow-scrolling: touch;
  width: 100%;
  top: var(--footerHeight);
  bottom: var(--footerHeight);
}

#DownloadTitle {
  font-size: 7em;
}

.downLoadIcon {
  font-size: 150px;
  color: #7899a8;
}
#downLoad_Sub_Title {
  font-size: x-large;
}
#downLoad_Sub_Text {
  font-size: large;
}

a.NOMISMALink {
  color: #183848;
  font-style: italic;
  font-weight: bold;
}
.NOMISMAIcon {
  color: #7899a8;
  font-size: 18px;
}

a.GlosseryLink {
  color: #183848;
  font-style: italic;
  font-weight: bolder;
}
.GlosseryIcon {
  color: #7899a8;
  font-size: 20px;
}
a.externalLink {
  color: yellow;
}
a.internalLink {
  color: #183848;
  /* font-weight: bolder; */
  text-decoration: underline !important;
}
sup {
  color: #7899a8;
}
