/* padding used for container-fluid */
.pr-6,
.px-6 {
  padding-right: 10rem !important;
}
.pl-6,
.px-6 {
  padding-left: 10rem !important;
}
.p-6 {
  padding: 5rem !important;
}

/* spacers used for container rows */
.top-buffer-1 {
  margin-top: 150px;
}
.top-buffer-2 {
  margin-top: 250px;
}
.top-spacer-05 {
  margin-top: 50px;
}
.top-spacer-1 {
  margin-top: 100px;
}
.top-spacer-2 {
  margin-top: 200px;
}
.top-spacer-3 {
  margin-top: 300px;
}
.top-spacer-4 {
  margin-top: 400px;
}
.top-spacer-5 {
  margin-top: 500px;
}
.top-spacer-6 {
  margin-top: 600px;
}

/* highlight terms */
#term {
  font-family: CormorantGaramond-BoldItalic;
  color: #e3b287;
}

#yellow {
  font-family: CormorantGaramond-Bold;
  color: #e3b287;
}

/* text styling */
#para-blue-bg {
  background-color: #2d616a;
  padding: 10px;
  color: white;
}

/* image style/sizing */
.img-responsive {
  height: auto;
  width: 100%;
}

.size-images-sm {
  height: 120px;
  width: 120px;
  padding: 10px;
  padding-bottom: 20px;
}

.size-images-md {
  height: 200px;
  width: 200px;
  padding: 20px;
}

.size-images {
  height: 250px;
  width: 250px;
  padding: 20px;
}

.size-images-head {
  height: 300px;
  width: 300px;
}

.size-images-30 {
  height: auto;
  width: 30px;
}

.size-images-50 {
  height: auto;
  width: 50px;
}

.profile_img1 {
  height: auto;
  width: 100%;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
}

.profile_img {
  vertical-align: middle;
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.bg-img {
  position: absolute;
  z-index: 10;
  height: auto;
  width: 80%;
}

.bg-img2 {
  /* background-size: cover; */
  height: auto;
  width: 100%;
}

/* modal image coin pile */
.modal-image {
  height: 150px;
  width: 150px;
}

/* line on left side in navigation pages */
.show_line_on_side {
  padding-top: 50px;
  padding-bottom: 80px;
  border-right: calc(8px + 0.3vmin) solid #17434a;
}

/**
 * Hero scroll for front page arrow
 */
.hero__scroll {
  position: absolute;
  width: 200px;
  margin: auto;
  display: block;
  cursor: pointer;
  left: 0;
  right: 0;
  font-family: CormorantGaramond;
  color: white;
}
.hero__scroll .arrow {
  display: block;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  color: #17434a;
}
.arrow::before {
  border-style: solid;
  border-width: 0.4em 0.4em 0 0;
  content: '';
  display: inline-block;
  height: 80px;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  vertical-align: top;
  width: 80px; }
.arrow.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }



