.modal-image {
  height: 150px;
  width: 150px;
}

.custom-select {
  display: none;
  background-color: DodgerBlue;
}

#dialogue-text {
  /* color: white;
  background-color: black; */
  width: auto;
  border-radius: 10px;
  padding: 0px;
  /* text-align: center; */
  margin: 0px;
}

.coin-bg {    
  /* height: 650px; */
  width: 1100px;
  padding: 10%;
  position: absolute;
  /* background-color: black; */
  shape-margin: 5px;
  /* background-image: url('../data/images/bg-2.png');  */
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 5%;
}

.align-select-boxes {
  top: 50%;
  left: 10%;
  position: absolute;
  font-family: 'CormorantGaramond-Regular';
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
}

.align-select-boxes select {
  width: 150px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.parent-class-coin {
  position: absolute;
  
}

.class-coin {
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  transform: translate(-50%, -50%);
}

.class-coins-pile {
  font-family: "CormorantGaramond-Bold";
  text-decoration: none;
  text-align: center;
  /* background-image: var(--div-bg-2); */
  margin: 10px;
  padding: 10px;
  font-size: xx-large;
  border-radius: 10px;
  font-weight: bold;
}

.class-coins-header-para {
  position: absolute;
  top: 20%;
  left: 50%;
  font-family: 'CormorantGaramond-Regular';
  transform: translate(-50%, -10%);
  width: 800px;
  text-align: center;
}

.class-coins-footer-para {
  position: absolute;
  bottom: 0;
  font-size: smaller;
  left: 50%;
  font-family: 'CormorantGaramond-Regular';
  transform: translate(-50%, -10%);
  width: 800px;
  text-align: center;
  
}

.red {
  background-color: red;
}

.App-logo-1 {
  height: 5vmin;
  float: left;
  padding: 0px;
}

.para-test {
  color: black;
}
