#gods-style-select-items {
    text-decoration: none;
    text-align: center;
    background-image: var(--div-bg-2);
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.gods-component-1 {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.gods-component-1 img {
    height: 500px;
    width: 700px;
}