@import url(src/components/constants.css);



.coin-info-x-icon {
  font-size: 50px;
  color: #7899A8;
  cursor: pointer;

  position: absolute;
  top: 0px;
  right: -10px;
  z-index: 1000;

  transition: 0.3s;
}

.coin-info-x-icon:hover {
  font-size: 50px;
  color: #183848;
  cursor: pointer;

  position: absolute;
  top: 0px;
  right: -10px;
  z-index: 1000;
}

.coin-info {
  max-width: 70em;
  min-width: 30em;
  width: 80vw;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.coin-image {
  grid-area: 1 / 1 / 2 / 2;
}

.coin-details {
  grid-area: 1 / 2 / 2 / 3; 
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.coin-details-gray-text {
  font-size: 0.8em;
}

.coin-title { grid-area: 1 / 1 / 2 / 4; }
/* column 1 */
.coin-ancient-territory { grid-area: 2 / 1 / 3 / 2; }
.coin-modern-country { grid-area: 3 / 1 / 4 / 2; }
.coin-issuing-authority { grid-area: 4 / 1 / 5 / 2; }
.coin-governing-power { grid-area: 5 / 1 / 6 / 2; }
.coin-language { grid-area: 6 / 1 / 7 / 2; }
/* column 2 */
.coin-mint { grid-area: 2 / 2 / 3 / 3; }
.coin-mint-modern-name { grid-area: 3 / 2 / 4 / 3; }
.coin-material { grid-area: 4 / 2 / 5 / 3; }
.coin-denomination { grid-area: 5 / 2 / 6 / 3; }
.coin-diameter { grid-area: 6 / 2 / 7 / 3; }
/* column 3 */
.coin-date-range { grid-area: 2 / 3 / 3 / 4; }
.coin-latitude { grid-area: 3 / 3 / 4 / 4; }
.coin-longitude { grid-area: 4 / 3 / 5 / 4; }
.coin-categories { grid-area: 5 / 3 / 7 / 4; } 

.coin-types {
  grid-area: 2 / 1 / 3 / 2;
}

.coin-source-material {
  background-color: rgba(240, 224, 192, 0.5);
  grid-area: 2 / 2 / 3 / 3;
}
