@import url(src/components/constants.css);



#CoinWhiteBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: -100;

  transition: 0.6s;
  opacity: 0;
}

#CoinInfo-x-icon {
  font-size: 50px;
  color: #7899A8;
  cursor: pointer;

  position: absolute;
  top: 0px;
  right: -10px;
  z-index: 1000;
}

#CoinInfo {
  max-width: 70em;
  min-width: 30em;
  width: 80vw;
}

#CoinInfoGrid {
  margin: 20px;
  display: grid;
  grid-auto-rows: .9fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/* COIN IMAGE AND ROTATE DIV */
#CoinImageDiv { 
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
}

#CoinImageFlip {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#CoinImageFront {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 70%;
  transition: 0.5s;
}

#CoinImageBack {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 70%;
  transition: 0.5s;
}

#CoinInfoRotateButton {
  position: absolute;
  bottom: 7px;
  right: -10px;
  cursor: pointer;
  font-size: 30px;
  color: #7899A8;
  z-index: 1000;
}

#CoinScaleDiameterDiv {
  margin: 0;
  position: absolute;
  bottom: 7px;
  left: 48%;
  transform: translateX(-50%);
}

#CoinScaleDiameterText {
  font-size: 0px;
  transition: 0.2s;
}

#CoinScaleDottedCircle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  transition: 0.5s;
}

#CoinScaleDottedCircle:before {
  position: absolute;
  content: '';
  height: calc(100% + 10px); 
  width: calc(100% + 10px); 
  border: 1px dashed black;
  top: -13px;
  left: -13px;
  border-radius: inherit;
}

#CoinInfoScaleButton {
  position: absolute;
  bottom: 7px;
  left: 7%;
  cursor: pointer;
  font-size: 30px;
  color: #7899A8;
  z-index: 1000;
}

/* Coin primary information div */
#CoinMainInfo {
  grid-area: 1 / 2 / 2 / 3; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px; 
  font-size: 12px;
}

.CoinMainInfoDynamicText {
  font-size: 16px;
}



#CoinMainInfoTitle { grid-area: 1 / 1 / 2 / 3; font-size: 24px; font-weight: bold;}
#CoinMainInfoRegion { grid-area: 2 / 1 / 3 / 2; }
#CoinMainInfoState { grid-area: 3 / 1 / 4 / 2; }
#CoinMainInfoMint { grid-area: 4 / 1 / 5 / 2; }
#CoinMainInfoAuthority { grid-area: 5 / 1 / 6 / 2; }
#CoinMainInfoEra { grid-area: 6 / 1 / 7 / 2; }
#CoinMainInfoDate { grid-area: 7 / 1 / 8 / 2; }
#CoinMainInfoCatalogueDate { grid-area: 8 / 1 / 9 / 2; }
#CoinMainInfoMaterial { grid-area: 2 / 2 / 3 / 3; }
#CoinMainInfoDenomination { grid-area: 3 / 2 / 4 / 3; }
#CoinMainInfoDiameter { grid-area: 4 / 2 / 5 / 3; }
#CoinMainInfoCulturalConnections { grid-area: 5 / 2 / 9 / 3; } 
#CoinMainInfoCulturalConnections div a {
  color: #173847;
  text-decoration: underline !important;
  transition: 0.2s;
}
#CoinMainInfoCulturalConnections div a:hover {
  color: #7899A8;
}


/* Coin image obverse, legen, and reverse type */
#CoinImageType {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr) 1.4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  font-size: 12px;
}

.CoinImageTypeDynamicText {
  margin-top: -14px;
  font-style: italic;
}

#CoinImageTypeObverse { grid-area: 1 / 1 / 2 / 2; }
#CoinImageTypeObverseLegend { grid-area: 2 / 1 / 3 / 2; }
#CoinImageTypeReverse { grid-area: 3 / 1 / 4 / 2; }
#CoinImageTypeReverseLegend { grid-area: 4 / 1 / 5 / 2; } 

#CoinSourceMaterial {
  grid-area: 2 / 2 / 3 / 3;
  border-radius: 2px;
  background-color: rgba(240, 224, 192, 0.5);
}

#CoinSourceMaterialGrid {
  height: 100%;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  font-size: 12px;
}

.CoinSourceMaterialDynamicText {
  margin-top: -14px;
  font-size: 16px;
}

#CoinSourceMaterialSourceImage { grid-area: 1 / 1 / 2 / 2; }
#CoinSourceMaterialRightsHolder { grid-area: 2 / 1 / 3 / 2; }
#CoinSourceMaterialBibliography { grid-area: 3 / 1 / 4 / 2; }
