.intro-main-title {
    margin: 0;
    padding: 0;
    display: inline-block;
}

h1{
    margin-top: -30px;
}




/* :root {
    --height: 100px;
    --width: 100px;
}

.c1 {
    height: calc(var(--height) * 1);
    width: calc(var(--width) * 1);
}

.c2 {
    height: 200px;
    width: 200px;
}

.c3 {
    height: 200px;
    width: 200px;
}

.c4 {
    height: 200px;
    width: 200px;
} */