.icon-arrow-medium-down:before { content: '\e800'; } /* '' */
.icon-arrow-medium-left:before { content: '\e801'; } /* '' */
.icon-arrow-medium-right:before { content: '\e802'; } /* '' */
.icon-arrow-medium-up:before { content: '\e803'; } /* '' */
.icon-arrow-thick-down:before { content: '\e804'; } /* '' */
.icon-arrow-thick-left:before { content: '\e805'; } /* '' */
.icon-arrow-thick-right:before { content: '\e806'; } /* '' */
.icon-arrow-thick-up:before { content: '\e807'; } /* '' */
.icon-arrow-thin-down:before { content: '\e808'; } /* '' */
.icon-arrow-thin-left:before { content: '\e809'; } /* '' */
.icon-arrow-thin-right:before { content: '\e80a'; } /* '' */
.icon-arrow-thin-up:before { content: '\e80b'; } /* '' */
.icon-attachment:before { content: '\e80c'; } /* '' */
.icon-collapse:before { content: '\e80d'; } /* '' */
.icon-expand:before { content: '\e80e'; } /* '' */
.icon-contact:before { content: '\e80f'; } /* '' */
.icon-donwload:before { content: '\e810'; } /* '' */
.icon-ellipsis:before { content: '\e811'; } /* '' */
.icon-compass:before { content: '\e812'; } /* '' */
.icon-focus:before { content: '\e813'; } /* '' */
.icon-globe:before { content: '\e814'; } /* '' */
.icon-help:before { content: '\e815'; } /* '' */
.icon-hourglass:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\e817'; } /* '' */
.icon-link-external:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-location:before { content: '\e81a'; } /* '' */
.icon-map:before { content: '\e81b'; } /* '' */
.icon-media-forward:before { content: '\e81c'; } /* '' */
.icon-media-next:before { content: '\e81d'; } /* '' */
.icon-media-pause:before { content: '\e81e'; } /* '' */
.icon-media-play:before { content: '\e81f'; } /* '' */
.icon-media-previous:before { content: '\e820'; } /* '' */
.icon-media-record:before { content: '\e821'; } /* '' */
.icon-media-rewind:before { content: '\e822'; } /* '' */
.icon-media-stop:before { content: '\e823'; } /* '' */
.icon-minus:before { content: '\e824'; } /* '' */
.icon-plus:before { content: '\e825'; } /* '' */
.icon-reference:before { content: '\e826'; } /* '' */
.icon-search:before { content: '\e827'; } /* '' */
.icon-settings:before { content: '\e828'; } /* '' */
.icon-tools:before { content: '\e829'; } /* '' */
.icon-view:before { content: '\e82a'; } /* '' */
.icon-bullet-round:before { content: '\e82b'; } /* '' */
.icon-warning:before { content: '\e82c'; } /* '' */
.icon-check-medium:before { content: '\e82e'; } /* '' */
.icon-check-thin:before { content: '\e82f'; } /* '' */
.icon-circle-medium:before { content: '\e830'; } /* '' */
.icon-circle-thick:before { content: '\e831'; } /* '' */
.icon-circle-thin:before { content: '\e832'; } /* '' */
.icon-coin-rotate:before { content: '\e833'; } /* '' */
.icon-coin-scale:before { content: '\e834'; } /* '' */
.icon-sqaure-medium:before { content: '\e835'; } /* '' */
.icon-sqaure-thick:before { content: '\e836'; } /* '' */
.icon-sqaure-thin:before { content: '\e837'; } /* '' */
.icon-x-medium:before { content: '\e838'; } /* '' */
.icon-x-thin:before { content: '\e839'; } /* '' */
.icon-bullet-square:before { content: '\e83a'; } /* '' */