.App-logo_3 {
    height: 10vmin;
    position: fixed; /* or absolute */
    top: 42%;
    left: 31%;
}
.App-logo_7 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 36%;
    left: 57%;
}
.App-logo_11 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 59%;
    left: 47%;
}
.gc_body{
    background-color: black;
    background-image: none;
}
.nf_h1{
    color: white;
    text-align: center;
    font-family: fantasy;
}

.nf_b1{
    width: 10cm;
    height: 1.4cm;
    background-color: goldenrod ;
    border-radius: 12px;
    font-size: 19pt;
    font-family: fantasy;
    margin-left: 30%;
    margin-top: 15%;
    color: black;
    text-decoration: none;
}