.coin-bg {
  height: 345px;
  width: 390px;
  position: absolute;
  background-color: black;
  shape-margin: 5px;
  /* background-image: url('../images/users_1.jpg'); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* border-radius: 50%; */
}

.red {
  background-color: red;
}

.App-logo-1 {
  height: 5vmin;
  float: left;
  padding: 0px;
}

.para-test {
  color: black;
}
