.coin-bg {    
  height: 550px;
  width: 585px;
  padding: 1%;
  
  position: absolute;
  /* background-color: black; */
  shape-margin: 5px;
  background-image: url('../data/images/bg-2.png');
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 5%;
}

.red {
  background-color: red;
}

.App-logo-1 {
  height: 5vmin;
  float: left;
  padding: 0px;
}

.para-test {
  color: black;
}
