.coin-bg {    
  height: 350px;
  width: 550px;
  padding: 10%;
  position: absolute;
  /* background-color: black; */
  shape-margin: 5px;
  /* background-image: url('../data/images/bg-2.png');  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 5%;
}

#coins-style-select-items {
  text-decoration: none;
  text-align: center;
  background-image: var(--div-bg-2);
  margin: 10px;
  padding: 10px;
  font-size: xx-large;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}


.red {
  background-color: red;
}

.App-logo-1 {
  height: 5vmin;
  float: left;
  padding: 0px;
}

.para-test {
  color: black;
}
