@font-face {
  font-family: "cartogothic_stdbook";
  src: url("../data/fonts/cartogothic/cartogothicstd-book-webfont.woff2")
      format("woff2"),
    url("../data/fonts/cartogothic/cartogothicstd-book-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cartogothic_stdbook_bold";
  src: url("../data/fonts/cartogothic/CartoGothicStd-Bold.woff2")
      format("woff2"),
    url("../data/fonts/cartogothic/CartoGothicStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.modal-image {
  height: 150px;
  width: 150px;
}

.custom-select {
  display: none;
  background-color: DodgerBlue;
}

#dialogue-text {
  color: white;
  background-color: black;
  width: auto;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 15px;
}

.coin-bg {    
  /* height: 650px; */
  width: 900px;
  padding: 10%;
  position: absolute;
  /* background-color: black; */
  shape-margin: 5px;
  /* background-image: url('../data/images/bg-2.png');  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 5%;
}

.align-select-boxes {
  top: 50%;
  left: 10%;
  position: absolute;
  font-family: 'cartogothic_stdbook';
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
}

.align-select-boxes select {
  width: 150px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#coins-style-select-items {
  text-decoration: none;
  text-align: center;
  background-image: var(--div-bg-2);
  margin: 10px;
  padding: 10px;
  font-size: xx-large;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.red {
  background-color: red;
}

.App-logo-1 {
  height: 5vmin;
  float: left;
  padding: 0px;
}

.para-test {
  color: black;
}
