
#download-page {
  -webkit-overflow-scrolling: touch;
	height: 95vh;
	padding: 5% 10%;
  
  .download-icon {
    font-size: 7vmax;
  }
  .download-alert{
    position:absolute;
    top:10%
  }
  #download-sub-title {
    font-size: large;
    font-weight: bold;
  }
  #download-sub-text {
    font-size: medium;
  }
  .download-button {
    background: #7899A8 0% 0% no-repeat padding-box;
    color:#ffffff;
    opacity: 1;
    border: 1px solid #7899a8;
    border-radius: 15px;
    font-size: 18px;
    font-family: var(--mainFonts);
    width: 250px;
    transition: 0.5s;
  }
  .download-button:hover{
    background: #ffffff 0% 0% no-repeat padding-box;
    color: #7899A8;
  }
  #download-alter-text{
    font-family: var(--mainFonts);
  
  }
  .form-label{
    font-family: $syrios-font-family-garamond-premier-pro;
    font-size: $syrios-font-size-16 ;
    font-style: $syrios-font-style-normal;


  }
  .form-control{
    font-size: 2em;
    border: 1px solid #D8D6D4;
    border-radius: 1px;
    font-family: $syrios-font-family-garamond-premier-pro;
    color: #737271;
    padding: 0.375rem 2rem;

  }
  .error-message{
    font-size: 1.5em;
    color: red;
  }

  .story-download-text b {
    line-height: $syrios-line-spacing-20;
    font-family: $syrios-font-family-garamond-premier-pro;
    font-style: $syrios-font-style-normal;
    font-weight: $syrios-font-weight-semi-bold;
    font-size: $syrios-font-size-16;
    color: #183848;
  }

}




