@import '../0-base/_base-dir.scss';
@import '../1-themes/_themes-dir.scss';
@import '../2-foundations/_foundations-dir.scss';


.story-end-frame-button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #7899a8;
  border-radius: 30px;
  opacity: 1;
  width: 450px;
  height: 60px;
  transition: 0.5s;

  font-family: $syrios-garamond-premier-pro-caption;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-medium;
  font-size: $syrios-font-size-30;
  line-height: $syrios-line-spacing-45;
  letter-spacing: $syrios-character-spacing-0;
  color: $syrios-color-7899a8;

  &:hover {
    color: #ffffff;
    background: #7899a8 0% 0% no-repeat padding-box;
  }

  @media screen and (max-width: 1440px) {
    width:  450px * 0.75 ;
    height: 60px * 0.75;
    font-size: $syrios-font-size-30 *0.75;

  }  
}

.story-frame14-button{
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #7899a8;
  border-radius: 15px;
  opacity: 1;
  width: 288px;
  height: 30px;
  transition: 0.5s;

  font-family: $syrios-garamond-premier-pro-caption;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-medium;
  font-size: $syrios-font-size-20;
  line-height: $syrios-line-spacing-25;
  letter-spacing: $syrios-character-spacing--20;
  color: $syrios-color-7899a8;

  &:hover {
    color: #ffffff;
    background: #7899a8 0% 0% no-repeat padding-box;
  }
}

.contact-us-button{
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #7899a8;
  border-radius: 15px;
  opacity: 1;
  width: 128px;
  height: 30px;
  transition: 0.5s;

  font-family: $syrios-garamond-premier-pro-caption;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-medium;
  font-size: $syrios-font-size-20;
  line-height: $syrios-line-spacing-25;
  letter-spacing: $syrios-character-spacing--20;
  color: $syrios-color-7899a8;

  &:hover {
    color: #ffffff;
    background: #7899a8 0% 0% no-repeat padding-box;
  }
}

.fade-frame-button{
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #7899a8;
  border-radius: 15px;
  opacity: 1;
  width: 160px;
  height: 30px;
  transition: 0.5s;

  font-family: $syrios-garamond-premier-pro-caption;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-medium;
  font-size: $syrios-font-size-20;
  line-height: $syrios-line-spacing-25;
  letter-spacing: $syrios-character-spacing--20;
  color: $syrios-color-7899a8;

  &:hover {
    color: #ffffff;
    background: #7899a8 0% 0% no-repeat padding-box;
  }
}

.reference-tag{
  font-family: $syrios-garamond-premier-pro;
  background-color: transparent;
  border: none;
  color:#78a878;
  &:hover{
    color:#487848
  }
  
  & sup{
    color: #78a878;
    font-style: $syrios-font-style-normal;
    &:hover{color:#487848}
  }
}
.glossary-tag{
  color: #78a878;
  text-decoration: none;

  &:hover{
    color: #487848;
  }
}
.external-tag{
  text-decoration:solid;

}