@use '../0-base/_base-dir.scss';
@use '../1-themes/_themes-dir.scss';
@use '../2-foundations/_foundations-dir.scss';
@use "../1-themes/default-theme";



.story-end-frame-button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #7899a8;
  border-radius: 30px;
  opacity: 1;
  width: 20vmax;
  height: 3vmax;
  transition: 0.5s;

  font-family: default-theme.$syrios-garamond-premier-pro-caption;
  font-style: default-theme.$syrios-font-style-normal;
  font-weight: default-theme.$syrios-font-weight-medium;
  font-size: default-theme.$syrios-font-size-30;
  line-height: default-theme.$syrios-line-spacing-45;
  letter-spacing: default-theme.$syrios-character-spacing-0;
  color: default-theme.$syrios-color-7899a8;

  &:hover {
    color: #ffffff;
    background: #7899a8 0% 0% no-repeat padding-box;
  }
}


.contact-us-button{
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #7899a8;
  border-radius: 20px;
  opacity: 1;
  width: 10vmax;
  height: 3.125vmax;
  transition: 0.5s;

  font-family: default-theme.$syrios-garamond-premier-pro-caption;
  font-style: default-theme.$syrios-font-style-normal;
  font-weight: default-theme.$syrios-font-weight-medium;
  font-size: default-theme.$syrios-font-size-24;
  line-height: default-theme.$syrios-line-spacing-25;
  letter-spacing: default-theme.$syrios-character-spacing--20;
  color: default-theme.$syrios-color-7899a8;

  &:hover {
    color: #ffffff;
    background: #7899a8 0% 0% no-repeat padding-box;
  }
}

.fade-frame-button-active{
  background: #7899a8 0% 0% no-repeat padding-box;
  border: 1px solid #7899a8;
  border-radius: 15px;
  opacity: 1;
  width: 8.333vmax;
  height: 1.5625vmax;
  transition: 0.5s;

  font-family: default-theme.$syrios-garamond-premier-pro-caption;
  font-style: default-theme.$syrios-font-style-normal;
  font-weight: default-theme.$syrios-font-weight-medium;
  font-size: default-theme.$syrios-font-size-20;
  line-height: default-theme.$syrios-line-spacing-25;
  letter-spacing: default-theme.$syrios-character-spacing--20;
  color: #ffffff;

  &:hover{
    color: #ffffff;
    background: #7899a8 0% 0% no-repeat padding-box;
  }
}
.fade-frame-button{
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #7899a8;
  border-radius: 15px;
  opacity: 1;
  width: 8.333vmax;
  height: 1.5625vmax;
  transition: 0.5s;

  font-family: default-theme.$syrios-garamond-premier-pro-caption;
  font-style: default-theme.$syrios-font-style-normal;
  font-weight: default-theme.$syrios-font-weight-medium;
  font-size: default-theme.$syrios-font-size-20;
  line-height: default-theme.$syrios-line-spacing-25;
  letter-spacing: default-theme.$syrios-character-spacing--20;
  color: #7899a8;

  &:hover{
    color: #ffffff;
    background: #7899a8 0% 0% no-repeat padding-box;
  }
  &:visited{
    color: #ffffff;
    background: #7899a8 0% 0% no-repeat padding-box;
  }
}

.reference-tag{
  font-family: default-theme.$syrios-garamond-premier-pro;
  background-color: transparent;
  border: none;
  color:#78a878;
  &:hover{
    color:#487848
  }
  
  & sup{
    color: #78a878;
    font-style: default-theme.$syrios-font-style-normal;
    &:hover{color:#487848}
  }
}
.glossary-tag{  
    color: #78a878;
    position: relative;
    display: inline-block;
    
  &[data-title]:hover::after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;

  }
  &[data-title]:after {
    content: attr(data-title);
    background-color: rgb(0,0,0,0.8);
    color: #fff;
    position: absolute;
    padding: 1em;
    border-radius: 6px;

    font-size: default-theme.$syrios-font-size-16;
    font-family: default-theme.$syrios-font-family-garamond-premier-pro;
    font-style: default-theme.$syrios-font-style-normal;
    font-weight: default-theme.$syrios-font-weight-regular;
    line-height: default-theme.$syrios-line-spacing-30;
    letter-spacing: default-theme.$syrios-character-spacing--05;

    width: 20vmax; 
    top: 100%;
    left: 50%;
    margin-left: -10vmax;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    white-space: pre-line;
  }
  [data-title] {
      position: relative;
  }
}

.external-tag{
  text-decoration:solid;

}