img {
  height: 2em;
  width: 2em;
}

a:hover img {
  transform: scale(5);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.class-coinpile {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 2em;
  /* align-content: center; */
  width: 80%;
  /* top: 70%;
  left: 55%; */
  /* transform: translate(-50%, -50%); */
  /* overflow: hidden; */
  border-radius: 5%;
}

.modal-image {
  height: 150px;
  width: 150px;
}

.align-select-boxes {
  top: 50%;
  right: 5%;
  position: absolute;
  font-family: "CormorantGaramond-Regular";
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
}

.align-select-boxes select {
  width: 150px;
  margin-left: 10px;
  margin-bottom: 20px;
}
