/* @import url(src/components/constants.css); */


#landing-page {
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	top: var(--footerHeight);
	bottom: var(--footerHeight);
	// background: url(src/assets/pages/LandingPageAssets/Full-Screen-BG-Home-Map.jpg);
	background:url('../assets/pages/LandingPageAssets/Full-Screen-BG-Home-Map.jpg')
}

#landing-video {
	background: white;
	padding: .4em 1.1em .4em 1.2em;
	box-shadow: 0px 0px 20px #24201659;
}

#landing-video-size {
	width: 780px;
}

@media only screen and (max-width: 767px) and (min-width: 580px) {
	#landing-video-size {
		width: 30em !important;
	}
}

@media only screen and (max-width: 579px) and (min-width: 372px) {
	#landing-video-size {
		width: 25em !important;
	}

	#landing-video {
		padding: .4em 1.1em .4em 5%;
	}
}

@media only screen and (max-width: 372px) {
	#landing-video-size {
		width: 15em !important;
	}

	#landing-video {
		padding: .4em 1.1em .4em 5%;
	}
}

.landing-buttons-text {
	text-align: center;
	font-size: 1.2em;
	text-decoration: none !important;
	color: white;
}

a:link {
	text-decoration: none !important;
}

.landing-button-size {
	position: relative;
	top: 0px;
	left: 0px;
	height: 170px;
	width: 190px;
	margin: 10px 0px 10px 0px;
}

.landing-button-img {
	position: relative;
	top: 7%;
	margin: 0px 7% 7% 7%;
	height: 86%;
	background-repeat: no-repeat !important;
	background-size: 100% !important
}

.on-hover-dim {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	width: 100%;
	height: 95%;
	transition: 0.3s;
	background: rgba(0,0,0,0);
}

.on-hover-dim:hover {
	background: rgba(0,0,0,0.5);
}
