
#landing-page {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	padding-top: 7.5vmax;
	padding-bottom: 7vmax;
	// background: url(src/assets/pages/LandingPageAssets/Full-Screen-BG-Home-Map.jpg);
	background:url('../assets/pages/LandingPageAssets/Full-Screen-BG-Home-Map.jpg')
}

#landing-video {
	background: white;
	padding: 1em;
	box-shadow: 0px 0px 20px #24201659;
	width: 48.4375vmax;
	height: 27.24vmax;

}

.landing-button-size {
	position: relative;
	// top: 0px;
	// left: 0px;
	height: 12.76vmax;
	width: 15.1vmax;
	padding: 1em;
	margin: 1.25em;
}

.landing-button-img {
	position: relative;
	// top: 7%;
	// margin: .4em 1.1em .4em 1.2em;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center
	
}

.on-hover-dim {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	width: 100%;
	height: 100%;
	transition: 0.3s;
	background: rgba(0,0,0,0);
	&:hover{
		background: rgba(0,0,0,0.5);
	}
}
