@import url(src/components/constants.css);

.SelectStoryDiv {
	width: 100px;
	transition: 0.5s;
}

.SelectStoryDiv:hover {
	width: 150px;
}

.SelectStoryText {
	font-size: 14px;
}

#StoriesPage {
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	background: url(src/assets/background.jpg);
}

Button {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #7899A8;
	border-radius: 15px !important;
	opacity: 1;
	width: 220px;
	transition: 0.5s;
}

Button:hover {
	color: #FFFFFF;
	background: #7899A8 0% 0% no-repeat padding-box;
}



/******************** THIS IS FOR THE STORIES ****************/
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #183848 !important;
	transition: 0.5s;
}

/* This is soooo ghetto, but it works. This is how background images scale properly with fullpage.js */
.section {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  padding: 0px;
}
/**** General classes ****/

.MainText {
  font-size: 40px;
}

.SubText {
  font-size: 16px;
}

.CaptionText {
  font-size: 12px;
  margin: 10px;
  margin-bottom: -5px !important;
}

.FrameImage {
  margin-bottom: 10px;
}

.HalfImageSize {
  -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.5); /* FF3.5+ */
  -ms-transform: scale(0.5); /* IE9 */
  -o-transform: scale(0.5); /* Opera 10.5+ */
  transform: scale(0.5);
}

@media only screen and (max-width: 767px) {
  .HalfImageSize {
    -webkit-transform: scale(0.25); /* Saf3.1+, Chrome */ 
    -moz-transform: scale(0.25); /* FF3.5+ */
    -ms-transform: scale(0.25); /* IE9 */
    -o-transform: scale(0.25); /* Opera 10.25+ */
    transform: scale(0.25);
  }
  
  .FrameImage {
    width: 80% !important;
  }

  .MainText {
    width: max(90%);
    font-size: 25px;
  }

  .SubText {
    font-size: 12px;
  }

  .CaptionText {
    font-size: 8px;
  }
}

.LightBlueBackground {
  background: rgba(184,204,216,0.5);
  border-radius: 10px;
}

/**** Title Frame ****/
#TitleText {
	font-size: 76px;
}

#SubTitleText {
	font-size: 20px;
}

#CaptionTitleText {
	font-size: 30px;
}

#TitleImage {
  width: 300px;
}

@media only screen and (max-width: 767px) {
  #TitleText {
    font-size: 45px !important;
  }

  #SubTitleText {
    font-size: 12px !important;
  }

  #CaptionTitleText {
    font-size: 15px !important;
  }

  #TitleImage {
    width: 150px !important;
  }
}
/**** End Frame ****/
#AreYouReadyText {
	font-size: 76px;
}

#EndFrameText {
	font-size: 30px;
}

.EndFrameButtonWidth {
	width: 270px;
  margin: 70px;
}

@media only screen and (max-width: 767px) {
  .EndFrameButtonWidth  {
    width: 100px;
    height: auto;
    margin: 10px;
  }

  #AreYouReadyText {
    font-size: 45px;
  }

  #EndFrameText {
    font-size: 18px;
  }
}

/**** Frame1 ****/

.Frame1SubText1 {
  margin: 0px 100px 0px 50px;
}

.Frame1SubText2 {
  margin: 0px 50px 0px 100px;
}

/**** Frame2 ****/
/**** Interactive_Frame1 ****/
.InteractiveFrame1ImageOuterDiv {
  position: relative;
  top: 0;
  left: 0;
}

.InteractiveFrame1ImageFrontLeft {
  display: block;
	opacity: 1.0;
  transition: 0.3s;
}

.InteractiveFrame1ImageBackLeft {
  display: none;
	opacity: 0.0;
  transition: 0.3s;
}

.InteractiveFrame1ImageFrontRight {
  display: block;
	opacity: 1.0;
  transition: 0.3s;
}

.InteractiveFrame1ImageBackRight {
  display: none;
	opacity: 0.0;
  transition: 0.3s;
}

.InteractiveFrame1TextFront {
  position: relative;
  top: 50px;
  display: block;
	opacity: 1.0;
  transition: 0.3s;
}

.InteractiveFrame1TextBack {
  position: relative;
  top: 30px;
  display: none;
	opacity: 0.0;
  transition: 0.3s;
}

.InteractiveFrame1ScaleIcon {
  margin-top: 10px;
  font-size: 80px;
  color: #7899A8;
  cursor: pointer;
}

.InteractiveFrame1CompareScale {
  display: block;
	opacity: 1.0;
  margin-top: -10px;
  cursor: pointer;
  transition: 0.3s;
}

.InteractiveFrame1ResetScale {
  display: none;
	opacity: 0.0;
  margin-top: -10px;
  cursor: pointer;
  transition: 0.3s;
}

.InteractiveFrame1LightBlueSizing {
  width: auto;
}

@media only screen and (max-width: 767px) {

  .InteractiveFrame1LightBlueSizing {
    position: relative;
    left: 5% !important;
    width: 95%;
  }

  .InteractiveFrame1ScaleIcon {
    font-size: 40px;
  }

  .InteractiveFrame1CompareScale {
    margin-top: -5px;
  }

  .InteractiveFrame1ResetScale {
    margin-top: -5px;
  }

  .InteractiveFrame1ImageBackLeft {
    left: -70px !important;
  }
  
  .InteractiveFrame1ImageBackRight {
    left: -70px !important;
  }
}
