
#stories-page{
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 70px;
  background:url('https://syrios.cs.uh.edu/uploads/Tyche_Antioch_3615c03897.png?updated_at=2022-07-18T15:54:23.632Z');
  mix-blend-mode: multiply;
  background-size: cover; 
  background-repeat: no-repeat;

  @media screen and (max-height: 900px) {
    padding-top: 105px;
  }

}

.select-story-div {
  width: 190px;
  height: 164px;
  transition: 0.5s;

  &:hover{
    width: 220px;
    height: 195px;
  }
}

.select-story-text {
  font-size: 15px;
  margin: 11px;
  margin-bottom: -5px !important;
}

#stories-page {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

// .story-button {
//   background: #ffffff 0% 0% no-repeat padding-box;
//   border: 1px solid #7899a8;
//   border-radius: 15px !important;
//   opacity: 1;
//   width: 250px;
//   height: 30px;
//   transition: 0.5s;
// }

// .story-button:hover {
//   color: #ffffff;
//   background: #7899a8 0% 0% no-repeat padding-box;
// }

.story-image-size{
  width: 75%;

  @media screen and (max-height: 900px) {
    width: 52.5% ;
  }  
}


/******************** THIS IS FOR THE STORIES ****************/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #183848 !important;
  transition: 0.5s;
}

// @media only screen and (max-width: 767px) {
//   #fp-nav ul li a span,
//   .fp-slidesNav ul li a span {
//     background: rgba(0, 0, 0, 0) !important;
//     transition: 0.5s;
//   }
// }

/* This is soooo ghetto, but it works. This is how background images scale properly with fullpage.js */

.section {
  background-size: cover, auto !important;
  background-repeat: no-repeat, repeat !important;
  background-position: 50% 50%, 50% 50% !important;
  padding: 0px;
  /* background-blend-mode: multiply; */

  & .back-to-top{
    position: absolute;
    right: 20px;
    bottom: 80px;
    font-family: $syrios-garamond-premier-pro-caption;
    font-weight: $syrios-font-weight-medium;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #7899A8;

    &:hover{
      color: #183848
    }
  }
}
.back-to-top-icon{
  font-family: $syrios-font-family-syrios-entypo-subset;
  color: #FFFFFF;
  background-color:  #D8A048;
  border-radius: 50%;

  &:hover{
    background-color: #A86818;
  }
}
.blande-image img:first-child {
  position: absolute;
  mix-blend-mode: multiply;
}



/**** Interactive_Frame1 ****/
.sclae_front{
  height: 288px;
  display: block;
  opacity: 1;
  transition: 0.3s;
  position: relative;
}
.scale_back{
  height: 148px;
  display: none;
  opacity: 0;
  transition: 0.3s;
  position: relative;
  top: 47px;
}
.sclae_front_text{
  display: block;
  opacity: 1;
  transition: 0.3s;
}
.scale_back_text{
  display: none;
  opacity: 0;
  transition: 0.3s;
  position: relative;
  top: 47px;
  
}
.row-scare-content{
  position: relative;
  height: 188px;
  bottom: 188px;
  z-index: 99;
}
.row-light-blue-background {
  background-color: rgba(184,204,216,0.5);
  border-radius: 15px;
  position: relative;
  height: 188px;
  top: 47px;
  margin: 0% 5% !important;
}

.fade-front{
  display: block;
  opacity: 1;
  transition: 0.3s;
}
.fade-back{
  display: none;
  opacity: 0;
  transition: 0.3s;
}
.fade-2button-row{
  position: relative;
  bottom: 30px;

}
.fade-4button-row{
  position: relative;
  bottom: 530px;

}

.interactive-frame {
  display: none;
  opacity: 0;
  transition: 0.3s;
}
.interactive-frame-active {
  display: block;
  opacity: 1;
  transition: 0.3s;
}
#interactive-frame1 {
  width: 180px;
}
@media only screen and (max-width: 767px) {
  #interactive-frame1 {
    width: 90px;
  }
  .interactive-frame1-light-blue-sizing {
    position: relative;
    left: 5% !important;
    width: 95%;
  }

  .interactive-frame1-compare-scale {
    margin-top: -5px;
  }

  .interactive-frame1-reset-scale {
    margin-top: -5px;
  }

  .interactive-frame1-image-back-left {
    left: -70px !important;
  }

  .interactive-frame1-image-back-right {
    left: -70px !important;
  }
}
