@import url(src/components/constants.css);


#coin-sort-wrapper {
  position: relative;
}

#coin-sort-spacer {
  width: 100%;
  height: 2em;
}

#coin-sort-options {
  display: flex;

  margin: auto;
  left: 0;
  right: 0;
  width: 800px;

  background-color: white;
  border-radius: 5px;
}

.coin-sort-menu-vr {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  height: 90;
}

.coin-sort-option {
  margin: 10px 20px 5px 20px;
}

.coin-sort-dropdown-outermost-div {
  position: relative;
}

.coin-sort-dropdown-bar {
  display: flex;
  min-width: 100px;

  margin-bottom: 13px;

  border: thin solid #7899A8;
  border-radius: 5px;
  cursor: pointer;
 
  font-size: 14px;

  align-items: center;

  transition: 0.3s;
}

.coin-sort-dropdown-bar:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.coin-sort-dropdow-bar-text {
  font-size: 12px;
  margin: 5px;
}

.coin-sort-dropdown-arrow {
  position: relative;
  margin: 5px;
  margin-left: auto;

  border: solid #183848;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.coin-sort-dropdown {
  position: absolute;
  width: 250px;
  top: 0px;

  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px gray;

  transition: 0.17s;
}

.coin-sort-dropdown-items {
  margin: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.coin-sort-dropdown-item:hover {
  background-color: #7899A8;

  transition: 0.3s;

  color: white;

  cursor: pointer;
}

.coin-sort-dropdown-item:hover p {
  transition: 0.3s;

  color: white;
}

.coin-sort-dropdown-item:hover hr {
  transition: 0.3s;
  border: thin solid #7899A8;
}

.coin-sort-dropdown-item-text {
  margin-bottom: -10px;
  margin-left: 15px;
}

.coin-sort-dropdown-item-line-spacer {
  border: thin solid #173847;
  margin-left: 15px;
  margin-right: 15px;
}
