/* All font styles needed: 
  story-h2 (Big Orange Text)
  story-h3 (Gray Text)
  story-download-text (dark blue text)
 */
#coin-sort-wrapper {
  position: relative;
}

#coin-sort-spacer {
  width: 100%;
  height: 3em;
}

/* COIN SORT MENU */

#coin-sort-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 960px;
  width: 80%;

  background-color: white;
  border-radius: 5px;
}

.coin-sort-menu-vr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.coin-sort-menu-vr-content {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  height: 90%;
}

.coin-sort-options-icons-div {
  margin-top: 10px;

  height:100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
}

.coin-sort-options-icons-div:hover .coin-sort-options-icon {
  color: #183848;
}

.coin-sort-options-icons-div:hover .coin-sort-options-icon-text {
  color: #183848;
}

.coin-sort-options-icon {
  color: #7899A8;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  transition: 0.3s;
}

.coin-sort-options-icon-text {
  color: #7899A8;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 1 / 3 / 2; 
  transition: 0.3s;
  
  font-family: $syrios-garamond-premier-pro;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-regular;
  color: #7899A8;
}

.coin-sort-option {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/* COIN SORT DROPDOWN */
.coin-sort-dropdown-outermost-div {
  position: relative;
}

.coin-sort-dropdown-title-text {
  font-family: $syrios-font-family-garamond-premier-pro;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-regular;
  color: $syrios-color-737271;

  margin-bottom: 0px;
  font-size: 13px;
}

.coin-sort-dropdown-bar {
  display: flex;
  min-width: 100px;

  margin-bottom: 13px;

  border: thin solid #7899A8;
  border-radius: 5px;
  cursor: pointer;
 
  font-size: 14px;

  align-items: center;

  transition: 0.3s;
}

.coin-sort-dropdown-bar:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.coin-sort-dropdow-bar-text {
  font-size: 16px;
  margin: 5px;
  
  font-family: $syrios-garamond-premier-pro;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-regular;
  color: #7899A8;
}

.coin-sort-dropdown-arrow {
  position: relative;
  margin: 5px;
  margin-left: auto;

  border: solid #183848;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.coin-sort-dropdown {
  position: absolute;
  width: 250px;
  top: 0px;

  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px gray;

  transition: 0.17s;
}

.coin-sort-dropdown-items {
  margin: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.coin-sort-dropdown-item:hover {
  background-color: #7899A8;

  transition: 0.3s;

  color: white;

  cursor: pointer;
}

.coin-sort-dropdown-item:hover p {
  transition: 0.3s;

  color: white;
}

.coin-sort-dropdown-item:hover hr {
  transition: 0.3s;
  border: thin solid #7899A8;
}

.coin-sort-dropdown-item-text {
  font-family: $syrios-garamond-premier-pro-caption;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-normal;
  font-size: $syrios-font-size-15;
  line-height: $syrios-line-spacing-15;
  letter-spacing: $syrios-character-spacing--10;
  color: $syrios-color-183848;
  margin-bottom: -10px;
  margin-left: 15px;
}

.coin-sort-dropdown-item-line-spacer {
  border: thin solid #7899A8;
  margin-left: 15px;
  margin-right: 15px;
}
