/* All font styles needed: 
story-h2 (Big Orange Text)
story-h3 (Gray Text)
story-download-text (dark blue text)
 */
#coin-sort-wrapper {
  position: relative;
}

#coin-sort-spacer {
  width: 100%;
  height: 1em;
}

/* COIN SORT MENU */

#coin-sort-options-wrapper {
  display: flex;
}

#coin-sort-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 97%;

  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  left: 0;
  right: 0;

  background-color: white;
  border-radius: 5px;
}

.coin-sort-menu-vr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.coin-sort-menu-vr-content {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  height: 90%;
}

.coin-sort-options-icons-div {
  margin-top: 10px;

  height:100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
}

.coin-sort-options-icons-div:hover .coin-sort-options-icon {
  color: #183848;
}

.coin-sort-options-icons-div:hover .coin-sort-options-icon-text {
  color: #183848;
}

.coin-sort-options-icon {
  color: #7899A8;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  transition: 0.3s;
}

.coin-sort-options-icon-text {
  color: #7899A8;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 1 / 3 / 2; 
  transition: 0.3s;

  font-family: $syrios-garamond-premier-pro;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-regular;
  color: #7899A8;
}

.coin-sort-option {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/* COIN SORT DROPDOWN */
.coin-sort-dropdown-outermost-div {
  position: relative;
}

.coin-sort-dropdown-title-text {
  font-family: $syrios-font-family-garamond-premier-pro;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-regular;
  color: $syrios-color-737271;

  margin-bottom: 0px;
  font-size: 13px;
}

.coin-sort-dropdown-bar {
  display: flex;
  min-width: 100px;

  margin-bottom: 13px;

  border: thin solid #7899A8;
  border-radius: 5px;
  cursor: pointer;

  font-size: 14px;

  align-items: center;

  transition: 0.3s;
}

.coin-sort-dropdown-bar:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.coin-sort-dropdow-bar-text {
  font-size: 16px;
  margin: 5px;

  font-family: $syrios-garamond-premier-pro;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-regular;
  color: #7899A8;
}

.coin-sort-dropdown-arrow {
  position: relative;
  margin: 5px;
  margin-left: auto;

  border: solid #183848;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.coin-sort-dropdown {
  position: absolute;
  width: 250px;
  top: 0px;

  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px gray;

  transition: 0.17s;
}

.coin-sort-dropdown-items {
  margin: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.coin-sort-dropdown-item:hover {
  background-color: #7899A8;

  transition: 0.3s;

  color: white;

  cursor: pointer;
}

.coin-sort-dropdown-item:hover p {
  transition: 0.3s;

  color: white;
}

.coin-sort-dropdown-item:hover hr {
  transition: 0.3s;
  border: thin solid #7899A8;
}

.coin-sort-dropdown-item-text {
  font-family: $syrios-garamond-premier-pro-caption;
  font-style: $syrios-font-style-normal;
  font-weight: $syrios-font-weight-normal;
  font-size: $syrios-font-size-15;
  line-height: $syrios-line-spacing-15;
  letter-spacing: $syrios-character-spacing--10;
  color: $syrios-color-183848;
  padding-top: 5px;
  margin-bottom: -15px;
  margin-left: 15px;
}

.coin-sort-dropdown-item-line-spacer {
  border: thin solid #7899A8;
  margin-left: 15px;
  margin-right: 15px;
}




// ********************** GRID ARRANGMENT CSS ********************** //
#coin-sort-grid-arrangment-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-sort-pagination-arrow {
  border: solid #7899A8;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 22px;
  transition: 0.3s;

  cursor: pointer;
}

.coin-sort-pagination-arrow:hover {
  border: solid #183848;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 22px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#coin-sort-pagination-left {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent; 
  border-right: 60px solid blue; 
}

#coin-sort-grid-6x3-arrangement {
  width: 800px;
  max-width: 85%;
  aspect-ratio: 16 / 9;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
#coin-sort-grid-6x3-cell-1 { grid-area: 1 / 1 / 2 / 2; }
#coin-sort-grid-6x3-cell-2 { grid-area: 1 / 2 / 2 / 3; }
#coin-sort-grid-6x3-cell-3 { grid-area: 1 / 3 / 2 / 4; }
#coin-sort-grid-6x3-cell-4 { grid-area: 1 / 4 / 2 / 5; }
#coin-sort-grid-6x3-cell-5 { grid-area: 1 / 5 / 2 / 6; }
#coin-sort-grid-6x3-cell-6 { grid-area: 1 / 6 / 2 / 7; }
#coin-sort-grid-6x3-cell-7 { grid-area: 2 / 1 / 3 / 2; }
#coin-sort-grid-6x3-cell-8 { grid-area: 2 / 2 / 3 / 3; }
#coin-sort-grid-6x3-cell-9 { grid-area: 2 / 3 / 3 / 4; }
#coin-sort-grid-6x3-cell-10 { grid-area: 2 / 4 / 3 / 5; }
#coin-sort-grid-6x3-cell-11 { grid-area: 2 / 5 / 3 / 6; }
#coin-sort-grid-6x3-cell-12 { grid-area: 2 / 6 / 3 / 7; }
#coin-sort-grid-6x3-cell-13 { grid-area: 3 / 1 / 4 / 2; }
#coin-sort-grid-6x3-cell-14 { grid-area: 3 / 2 / 4 / 3; }
#coin-sort-grid-6x3-cell-15 { grid-area: 3 / 3 / 4 / 4; }
#coin-sort-grid-6x3-cell-16 { grid-area: 3 / 4 / 4 / 5; }
#coin-sort-grid-6x3-cell-17 { grid-area: 3 / 5 / 4 / 6; }
#coin-sort-grid-6x3-cell-18 { grid-area: 3 / 6 / 4 / 7; } 

#coin-sort-grid-6x3-arrangement {
  font-size: 12px !important;
}

#coin-sort-grid-6x3-arrangement div i.coin-info-icon-rotate {
  bottom: -5px !important;
  right: -0px !important;
}

#coin-sort-grid-6x3-arrangement div i.coin-info-scale-icon {
  bottom: -5px !important;
  left: -15px !important;
}

#coin-sort-grid-6x3-arrangement div i {
  font-size: 2em !important;
}

#coin-sort-grid-3x2-arrangement {
  width: 800px;
  max-width: 85%;
  aspect-ratio: 16 / 9;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

#coin-sort-grid-3x2-cell-1 { grid-area: 1 / 1 / 2 / 2; }
#coin-sort-grid-3x2-cell-2 { grid-area: 1 / 2 / 2 / 3; }
#coin-sort-grid-3x2-cell-3 { grid-area: 1 / 3 / 2 / 4; }
#coin-sort-grid-3x2-cell-4 { grid-area: 2 / 1 / 3 / 2; }
#coin-sort-grid-3x2-cell-5 { grid-area: 2 / 2 / 3 / 3; }
#coin-sort-grid-3x2-cell-6 { grid-area: 2 / 3 / 3 / 4; }

#coin-sort-grid-3x2-arrangement {
  font-size: 22px !important;
}

#coin-sort-grid-3x2-arrangement div i.coin-info-icon-rotate {
  bottom: -5px !important;
  right: 10px !important;
}

#coin-sort-grid-3x2-arrangement div i.coin-info-scale-icon {
  bottom: -5px !important;
  left: -5px !important;
}

#coin-sort-grid-3x2-arrangement div i {
  font-size: 2em !important;
}

#coin-sort-grid-2x2-arrangement {
  width: 800px;
  max-width: 85%;
  aspect-ratio: 16 / 9;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.coin-sort-grid-2x2-cell-1 { grid-area: 1 / 1 / 2 / 2; }
.coin-sort-grid-2x2-cell-2 { grid-area: 1 / 2 / 2 / 3; }
.coin-sort-grid-2x2-cell-3 { grid-area: 2 / 1 / 3 / 2; }
.coin-sort-grid-2x2-cell-4 { grid-area: 2 / 2 / 3 / 3; } 

#coin-sort-grid-2x2-arrangement {
  font-size: 22px !important;
}

#coin-sort-grid-2x2-arrangement div i.coin-info-icon-rotate {
  bottom: -5px !important;
  right: 80px !important;
}

#coin-sort-grid-2x2-arrangement div i.coin-info-scale-icon {
  bottom: -5px !important;
  left: 60px !important;
}

#coin-sort-grid-2x2-arrangement div i {
  font-size: 2em !important;
}

#coin-sort-grid-3x1-arrangement {
  width: 800px;
  max-width: 85%;
  aspect-ratio: 16 / 5;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

#coin-sort-grid-3x1-cell-1 { grid-area: 1 / 1 / 2 / 2; }
#coin-sort-grid-3x1-cell-2 { grid-area: 1 / 2 / 2 / 3; }
#coin-sort-grid-3x1-cell-3 { grid-area: 1 / 3 / 2 / 4; }

#coin-sort-grid-3x1-arrangement {
  font-size: 22px !important;
}

#coin-sort-grid-3x1-arrangement div i.coin-info-icon-rotate {
  bottom: -5px !important;
  right: 20px !important;
}

#coin-sort-grid-3x1-arrangement div i.coin-info-scale-icon {
  bottom: -5px !important;
  left: 0px !important;
}

#coin-sort-grid-3x1-arrangement div i {
  font-size: 2em !important;
}

#coin-sort-grid-2x1-arrangement {
  width: 800px;
  max-width: 85%;
  aspect-ratio: 16 / 9;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

#coin-sort-grid-2x1-cell-1 { grid-area: 1 / 1 / 2 / 2; }
#coin-sort-grid-2x1-cell-2 { grid-area: 1 / 2 / 2 / 3; } 

#coin-sort-grid-2x1-arrangement {
  font-size: 22px !important;
}

#coin-sort-grid-2x1-arrangement div i.coin-info-icon-rotate {
  bottom: -5px !important;
  right: 80px !important;
}

#coin-sort-grid-2x1-arrangement div i.coin-info-scale-icon {
  bottom: -5px !important;
  left: 60px !important;
}

#coin-sort-grid-2x1-arrangement div i {
  font-size: 2em !important;
}

#coin-sort-grid-1x1-arrangement {
  width: 800px;
  max-width: 85%;
  aspect-ratio: 16 / 14;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

#coins-sort-grid-1x1-cell-1 { grid-area: 1 / 1 / 2 / 2; }

#coin-sort-grid-1x1-arrangement {
  font-size: 35px !important;
}

#coin-sort-grid-1x1-arrangement div i.coin-info-icon-rotate {
  bottom: 40px !important;
  right: 120px !important;
}

#coin-sort-grid-1x1-arrangement div i.coin-info-scale-icon {
  bottom: 40px !important;
  left: 100px !important;
}

#coin-sort-grid-1x1-arrangement div i {
  font-size: 2em !important;
}
