@import url(src/components/constants.css);



#CoinSort {
  z-index: 0;
  padding-top: 5em;
  padding-bottom: 5em;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.CoinSortText {
  font-size: 14px;
}

#CoinSortTitle {
  font-size: 50px;
}

#CoinSortOptions {
  background-color: snow;
  border-radius: 5px;

  display: flex;
  gap: 10px;
}

.CoinSortCell {
  padding: 10px;
}

.CoinSortVerticalLine {
  position: relative;
  top: 0.4em;
  height: 5em;
  width: 1px;
  padding: 0px;
  border-left: 2px solid rgba(0,0,0,0.2);
}

.CoinSortClearText {
  cursor: pointer;
  font-size: 12px;

  padding-top: 10px;
}

/*** WHITE POP UP BACKGROUND STYLINGS ***/

.ToolTipBox {

}

.ToolTipTitle {
  text-align: center;
  font-size: 20px;
}

.ToolTipText {
  text-align: start;
  font-size: 14px;
}

/*** COIN SORT DROPDOWN CSS STYLING ***/
.CoinSortDropDownOuterMostDiv {
  position: relative;
}

.CoinSortDropDownList {
  z-index: -1000;
  opacity: 0;
  pointer-events: none;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 16em;

  box-shadow: 0px 0px 20px gray;
  border-radius: 3px;
  background-color: snow;
}

.CoinSortDropDownTarget {
  position: relative;

  border-radius: 5px;
  border: solid rgba(184, 204, 216, 0.5) 2px;

  cursor: pointer;
}

.CoinSortDropDownTargetText {
  padding: 5px;
}

.CoinSortDropDownTargetIconArrow {
  position: relative;
  top: 4px;
  float: right;
}

.CoinSortDropDownListIconArrow {
  position: absolute;
  right: 10px;
  top: 13px;

  color: #486678;
}

.CoinSortDropDownListCellOuterDiv {
  background-color: snow;

  padding-bottom: 5px;

  cursor: pointer;
}

.CoinSortDropDownListCellOuterDiv:hover {
  background-color: #486678;

  color: white;
}

.CoinSortDropDownListUnderLine {
  border-bottom: 1px solid #486678;
}
