@import url(src/components/constants.css);

#explore-the-evidence {
  padding-top: 4em;
  padding-bottom: 4em;
}

.explore-the-evidence-title-text {
  margin-top: 20px;
}

.explore-the-evidence-caption-text {
  margin-top: -20px;
}

.explore-the-evidence-text-width-fix {
  width: 300px;
}

.explore-the-evidence-download-dataset-text-width-fix {
  width: 500px;
}

#explore-the-evidence-icon-download {
  font-size: 15em;
  color: #486678;
}

#download-dataset-img {
  filter: invert(66%) sepia(8%) saturate(1053%) hue-rotate(154deg) brightness(88%) contrast(89%);
}

#explore-the-evidence-text-div {
  margin-left: -400px;
}
 
#explore-the-evidence-icon-download-div {
  margin-left: 100px;
}
