/* Globals */
:root {
  --footerHeight: 70px;
  --mainFonts: "syrios-entypo-subset", EB Garamond, Georgia, serif, FreeSerif;
}

.info-icon {
  cursor: pointer;
}

.quote blockquote p::before {
  content: '"';
}

.quote blockquote p::after {
  content: '"';
}

.img-fill {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bland-style {
  text-decoration: none !important;
  background: transparent !important;
  box-shadow: 0px 0px 0px transparent !important;
  border: solid transparent !important;
  text-shadow: 0px 0px 0px transparent !important;
}

.center-div {
  position: absolute;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.orange-text {
  font-family: var(--mainFonts);
  color: #a85828;
}
.green-text{
  font-family: var(--mainFonts);
  color: #184818;
}

.black-text {
  font-family: var(--mainFonts);
  color: #000000;
}

.dark-text {
  font-family: var(--mainFonts);
  color: #313029;
}

.blue-text {
  font-family: var(--mainFonts);
  color: #486678;
}

.dark-blue-text {
  font-family: var(--mainFonts);
  color: #173847;
}

.gray-text {
  font-family: var(--mainFonts);
  color: #737271;
}

.white-text {
  font-family: var(--mainFonts);
  color: #ffffff;
}

.bold-white-text {
  font-family: var(--mainFonts);
  color: #ffffff;
  font-weight: bold;
}

.light-blue-background {
  background: #b8ccd8;
  border-radius: 7.5px;
  /* opacity: 0.75; */
}
.light-yellow-background {
  background: #f8e8b8;
  border-radius: 15px;
}

html {
  position: relative;
}

li p {
  white-space: nowrap;
}

/* Adobe XD generated CSS */
:root {
  /* Colors: */
  --syrios-color-313029: #313029;
  --syrios-color-737271: #737271;
  --syrios-color-d8d6d4: #d8d6d4;
  --syrios-color-f4f2f0: #f4f2f0;
  --syrios-color-ffffff: #ffffff;

  --syrios-color-184818: #184818;
  --syrios-color-487848: #487848;
  --syrios-color-78a878: #78a878;
  --syrios-color-c8e8c8: #c8e8c8;

  --syrios-color-183848: #183848;
  --syrios-color-486678: #486678;
  --syrios-color-7899a8: #7899a8;
  --syrios-color-b8ccd8: #b8ccd8;

  --syrios-color-987818: #987818;
  --syrios-color-d8b848: #d8b848;
  --syrios-color-e8d078: #e8d078;
  --syrios-color-f8e8b8: #f8e8b8;

  --syrios-color-a86818: #a86818;
  --syrios-color-d8a048: #d8a048;
  --syrios-color-e8c078: #e8c078;
  --syrios-color-f0e0c0: #f0e0c0;

  --syrios-color-b85828: #b85828;
  --syrios-color-d88858: #d88858;
  --syrios-color-e8b088: #e8b088;
  --syrios-color-e8d8c8: #e8d8c8;

  --syrios-color-a85828: #a85828;
  --syrios-color-b9ccd7: #b9ccd7;
  --syrios-color-1a3847: #1a3847;

  
  
  /* Font/text values */
  --syrios-font-family-garamond-premier-pro: "Garamond Premier Pro";
  --syrios-font-family-garamondpremrpro-ltdisp: GaramondPremrPro-LtDisp;
  --syrios-font-Garamond-Premier-Pro-Bold: ;

  --syrios-font-family-syrios-entypo-subset: syrios-entypo-subset;

  --syrios-font-style-normal: normal;
  --syrios-font-style-italic: italic;

  --syrios-font-weight-300: 300px;
  --syrios-font-weight-600: 600px;

  --syrios-font-weight-normal: normal;
  --syrios-font-weight-bold: bold;

  --syrios-font-size-15: 15px;
  --syrios-font-size-20: 20px;
  --syrios-font-size-22: 22px;
  --syrios-font-size-25: 25px;
  --syrios-font-size-40: 40px;
  --syrios-font-size-70: 70px;
  --syrios-font-size-140: 140px;

  --syrios-character-spacing-0: 0px;
  --syrios-character-spacing--0-15: -0.15px;
  --syrios-character-spacing--0-2: -0.2px;

  --syrios-line-spacing-15: 15px;
  --syrios-line-spacing-20: 20px;
  --syrios-line-spacing-25: 25px;
  --syrios-line-spacing-30: 30px;
  --syrios-line-spacing-45: 45px;
  --syrios-line-spacing-75: 75px;

  --syrios-text-transform-uppercase: uppercase;
  --syrios-decoration-underline: underline;
  --syrios-text-script-superscript: superscript;
}

/* Character Styles */
.quote-text {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-italic);
  font-weight: var(--syrios-font-weight-600);
  font-size: var(--syrios-font-size-40);
  line-height: var(--syrios-line-spacing-45);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-486678);
}
.quote-credit {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-25);
  line-height: var(--syrios-line-spacing-45);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-737271);
}
.references-text-icon {
  font-family: var(--syrios-font-family-syrios-entypo-subset);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-20);
  line-height: var(--syrios-line-spacing-15);
  letter-spacing: var(--syrios-character-spacing--0-2);
  color: var(--syrios-color-b9ccd7);
}
.references-text-ordered-list-number {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-bold);
  font-size: var(--syrios-font-size-15);
  line-height: var(--syrios-line-spacing-15);
  letter-spacing: var(--syrios-character-spacing--0-15);
  color: var(--syrios-color-1a3847);
}
.references-text {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-15);
  line-height: var(--syrios-line-spacing-15);
  letter-spacing: var(--syrios-character-spacing--0-15);
  color: var(--syrios-color-183848);
}
.references-h3 {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-600);
  font-size: var(--syrios-font-size-25);
  line-height: var(--syrios-line-spacing-30);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-ffffff);
}
.story-caption {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-15);
  line-height: var(--syrios-line-spacing-20);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-737271);
}
.story-caption-keyword {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-italic);
  font-weight: var(--syrios-font-weight-600);
  font-size: var(--syrios-font-size-15);
  line-height: var(--syrios-line-spacing-20);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-183848);
}
.story-text-external-link-icon {
  font-family: var(--syrios-font-family-syrios-entypo-subset);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-22);
  line-height: var(--syrios-line-spacing-30);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-7899a8);
}
.story-text-definition-icon {
  font-family: var(--syrios-font-family-syrios-entypo-subset);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-20);
  line-height: var(--syrios-line-spacing-30);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-7899a8);
}
.story-text-keyword {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-italic);
  font-weight: var(--syrios-font-weight-bold);
  font-size: var(--syrios-font-size-25);
  line-height: var(--syrios-line-spacing-30);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-183848);
}
.story-text-footnote-link {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-bold);
  font-size: var(--syrios-font-size-25);
  line-height: var(--syrios-line-spacing-30);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-7899a8);
}
.story-text-link {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-25);
  line-height: var(--syrios-line-spacing-30);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-183848);
  text-decoration: var(--syrios-decoration-underline);
}
.story-bullets {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-20);
  line-height: var(--syrios-line-spacing-20);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-737271);
}
.story-text {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-25);
  line-height: var(--syrios-line-spacing-30);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-737271);
}
.story-h1 {
  font-family: var(--syrios-font-family-garamondpremrpro-ltdisp);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-300);
  font-size: var(--syrios-font-size-140);
  line-height: var(--syrios-line-spacing-75);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-486678);
}
.story-h2 {
  font-family: var(--syrios-font-family-garamondpremrpro-ltdisp);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-70);
  line-height: var(--syrios-line-spacing-75);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-a85828);
}
.story-h2-keyword {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-italic);
  font-weight: var(--syrios-font-weight-bold);
  font-size: var(--syrios-font-size-70);
  line-height: var(--syrios-line-spacing-75);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-d8a048);
}
.story-h3 {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-normal);
  font-size: var(--syrios-font-size-40);
  line-height: var(--syrios-line-spacing-45);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-737271);
}
.story-h3-keyword {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-italic);
  font-weight: var(--syrios-font-weight-600);
  font-size: var(--syrios-font-size-40);
  line-height: var(--syrios-line-spacing-45);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-183848);
}
.story-h4 {
  font-family: var(--syrios-font-family-garamond-premier-pro);
  font-style: var(--syrios-font-style-normal);
  font-weight: var(--syrios-font-weight-600);
  font-size: var(--syrios-font-size-20);
  line-height: var(--syrios-line-spacing-25);
  letter-spacing: var(--syrios-character-spacing-0);
  color: var(--syrios-color-a86818);
  text-transform: var(--syrios-text-transform-uppercase);
}
