.App {
    text-align: center;
  
  }
  .App-h1 {
    color: goldenrod;
    font-family: fantasy;
  }
  
  .App-b1 {
    width: 10cm;
    height: 1.4cm;
    background-color: goldenrod ;
    border-radius: 12px;
    font-size: 19pt;
    font-family: fantasy;
    margin-left: 30%;
    margin-top: 15%;
    color: black;
    text-decoration: none;
  }
  .App-logo1{
    height: 10vmin;
    margin-left: 120%;
    position: relative;
    bottom: 10px;
  }
  .logo2{bottom: -10px; margin-left: 90%}
  .logo3{bottom: -30px;}
  .logo4{bottom: -50px;}
  .logo5{bottom: -73px;margin-left: 90% }

  .App-logo {
    height: 23%;
    pointer-events: none;
    margin-left: -20%;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: black
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

