/* The blue box at the top of the screen and its dimensions are defined here */

.navbar-spacer {
  width: 100%;
  height: $footerHeight;
}

#navbar {
	position: fixed;
	width: 100%;
	height: $footerHeight;
	background: #183848 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 60px #24201659;
	opacity: 1;
	z-index: 100000;
}

/* General navbar styling */
.navbar-dark .navbar-nav .nav-link {
	color: white;
	margin: 0px 1em ;

	&:hover{
		color: #B8CCD8 ;
	}
}


.navbar-brand {
	transition: 0.5s;
	&:hover{
		box-shadow: 0px 0px 60px #24201659;
		transition: 0.5s;
	}
}

// @media only screen and (max-width: 767px) {
// 	.navbar-collapse {
// 		background: #7899A8 !important;
// 	}
// }
/* editing the dropdown menu and items for navbar */
.dropdown-menu {
	background: url("../assets/dropdown.png");
	background-size: cover;
	min-width: 240px;
	// right: 0px !important;
	// top: 70px ;
	border-radius: 0px 0px 15px 15px;
	font-family:  $syrios-font-family-garamond-premier-pro;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
	margin-top: 18px;
}

.dropdown.show .dropdown-menu { /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
    max-height: 300px;
    opacity: 1;
}
.dropdown-item {
	color: white ;
	margin: 2em auto;
	padding: .25rem 2rem ;
	transition: 0.3s;

	&:hover {
		background: none;
		color: #183848;
	}
}


/* All text for navbar should be this format */



