/* The blue box at the top of the screen and its dimensions are defined here */
#Navbar {
	position: fixed;
	width: 100%;
	height: var(--footerHeight);
	background: #183848 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 60px #24201659;
	opacity: 1;
	z-index: 1000;
}

/* General navbar styling */
.navbar-dark .navbar-nav .nav-link {
	color: white !important;
	margin: 0px 15px 0px 15px !important;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
	color: #B8CCD8 !important;
}

.navbar-brand {
	transition: 0.5s;
}

.navbar-brand:hover {
	box-shadow: 0px 0px 60px #24201659;
	transition: 0.5s;
}

/* For mobile. Changing how the toggler looks */
.navbar-toggler {
	border: none !important;
}

@media only screen and (max-width: 767px) {
	.navbar-collapse {
		background: #7899A8 !important;
	}
}
/* editing the dropdown menu and items for navbar */
.dropdown-menu {
	background: url(/src/assets/dropdown.png);
	min-width: 290px !important;
	right: 0px !important;
	top: 3.0em !important;
	border-radius: 0px 0px 15px 15px !important;
	font: CormorantGaramond-SemiBold !important;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu { /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
    max-height: 300px;
    opacity: 1;
}
.dropdown-item {
	color: white !important;
	margin: 15px auto 15px auto;
	padding: .25rem 2rem !important;
	transition: 0.3s;
}

.dropdown-item:hover {
	background: none !important;
	color: #183848 !important;
}

/* All text for navbar should be this format */
.NavbarText {
	color: #FFFFFF !important;
	text-align: center;
	font: 14px EB Garamond;
	letter-spacing: 0px;
	opacity: 1;
  transition: 0.3s;
}

.NavbarText:hover {
	color: #B8CCD8 !important;
	cursor: pointer;
  transition: 0.3s;
}
