body {
    background-image: url("users_1.jpg");
    background-repeat: no-repeat;
    height: 800px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
   }

.App-logo_1 {
    height: 12vmin;
    position: fixed; /* or absolute */
    top: 48%;
    left: 49%;
}

.App-logo_2 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 29%;
    left: 36%;
}

.App-logo_3 {
    height: 10vmin;
    position: fixed; /* or absolute */
    top: 42%;
    left: 31%;
}
.App-logo_4 {
    height: 6vmin;
    position: fixed; /* or absolute */
    top: 29%;
    left: 44%;
}
.App-logo_5 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 42%;
    left: 38%;
}
.App-logo_6 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 36%;
    left: 46%;
}
.App-logo_7 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 36%;
    left: 57%;
}
.p1{
    color: white;
    size: 7cm;
}