body {
    background-image: url("users_1.jpg");
    background-repeat: no-repeat;
    height: 800px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
   }
.h2{
    color: white;
    font-family: fantasy;
    margin-left: 45%;
    font-size: 25px;
}
.h2b{
    margin-top: 3%;
    color: white;
    font-family: fantasy;
    margin-left: 46%;
    font-size: 25px;
}
.bm{
    padding: 6px 7px;
    margin-left: 20%;
    text-align: center;
    background-color:black;
    border: none;
    font-family: fantasy;
    color: white;
    font-size: 25px;
    transform: rotate(90deg);
    white-space: nowrap;
}
.bx{
    margin-left: 610%;
    text-align: center;
    background-color:black;
    border: none;
    font-family: fantasy;
    color: white;
    font-size: 25px;
    transform: rotate(270deg);
    white-space: nowrap;
}
.hb1{
    margin-left: 8%;
    text-align: center;
    font-family: fantasy;
    background-color: #9e8f8ff3;
    padding: 3px 45px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}
.hb2{
    margin-left: 3%;
    font-family: fantasy;
    background-color: #9e8f8ff3;
    padding: 3px 45px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}
.hb3{
    margin-left: 3%;
    font-family: fantasy;
    background-color: #9e8f8ff3;
    padding: 3px 45px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}
.hb4{
    margin-left: 3%;
    font-family: fantasy;
    background-color: #9e8f8ff3;
    padding: 3px 45px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}
.hb5{
    margin-left: 3%;
    font-family: fantasy;
    background-color: #9e8f8ff3;
    padding: 3px 45px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    color:black;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}
.App-logo_1 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 14%;
    left: 48%;
}

.App-logo_2 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 17%;
    left: 35%;
}

.App-logo_3 {
    height: 10vmin;
    position: fixed; /* or absolute */
    top: 42%;
    left: 31%;
}
.App-logo_4 {
    height: 6vmin;
    position: fixed; /* or absolute */
    top: 17%;
    left: 43%;
}
.App-logo_5 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 29%;
    left: 37%;
}
.App-logo_6 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 25%;
    left: 44%;
}
.App-logo_7 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 36%;
    left: 57%;
}
.App-logo_9 {
    height: 11vmin;
    position: fixed; /* or absolute */
    top: 55%;
    left: 40%;
}
.App-logo_10 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 59%;
    left: 33%;
}
.App-logo_11 {
    height: 19vmin;
    position: fixed; /* or absolute */
    top: 36%;
    left: 47%;
}
.App-logo_12 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 45%;
    left: 44%;
}
.App-logo_13 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 50%;
    left: 60%;
}
.App-logo_14 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 36%;
    left: 46%;
}
.App-logo_15 {
    height: 9vmin;
    position: fixed; /* or absolute */
    top: 23%;
    left: 59%;
}
.App-logo_16 {
    height: 7vmin;
    position: fixed; /* or absolute */
    top: 30%;
    left: 30%;
}
.App-logo_17 {
    height: 7vmin;
    position: fixed; /* or absolute */
    top: 18.5%;
    left: 53%;
}
.App-logo_18 {
    height: 10vmin;
    position: fixed; /* or absolute */
    top: 69.5%;
    left: 48%;
}

.p1{
    color: white;
    size: 7cm;
}

.b1 {
    background-image: url("images/image9.png");
    background-size: 100%;
    margin-left: 10%;
    background-color: rgba(172, 149, 73, 0.904);
    border: 12px;
    color: white;
    padding: 70px 52px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(172, 149, 73, 0.904);

    
}
.b2 {
    background-image: url("images/image10.png");
    background-size: 100%;
    margin-top: 5%;
    margin-left: 130%;
    background-color: rgba(172, 149, 73, 0.904);
    border: 12px;
    color: white;
    padding: 70px 52px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(172, 149, 73, 0.904);
}

.b3 {
    background-image: url("images/image11.png");
    background-size: 100%;
    margin-left: 10%;
    background-color: rgba(172, 149, 73, 0.904);
    border: 12px;
    color: white;
    padding: 70px 52px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(172, 149, 73, 0.904);
}

.b4{
    margin-left: 64%;
    background-color: rgba(168, 118, 51, 0.904);
    border: 12px;
    color: white;
    padding: 58px 35px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(168, 118, 51, 0.904);
}

.b5{
    margin-left: 618%;
    background-color: rgba(168, 118, 51, 0.904);
    border: 12px;
    color: white;
    padding: 70px 52px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(168, 118, 51, 0.904);
}

.b6{
    margin-left: 64%;
    background-color: rgba(168, 118, 51, 0.904);
    border: 12px;
    color: white;
    padding: 70px 52px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(168, 118, 51, 0.904);
}

.b7{
    background-image: url("images/image13.png");
    background-size: 100%;
    margin-left: 18%;
    background-color: rgba(54, 99, 71, 0.904);
    border: 12px;
    color: white;
    padding: 50px 35px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(54, 99, 71, 0.904);
}

.b8{
    background-image: url("images/image14.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5%;
    background-color: rgba(54, 99, 71, 0.904);
    border: 12px;
    color: white;
    padding: 50px 35px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(54, 99, 71, 0.904);
}

.b9{
    background-image: url("images/image15.png");
    background-size: 100%;
    margin-left: 5%;
    background-color: rgba(54, 99, 71, 0.904);
    border: 12px;
    color: white;
    padding: 50px 35px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(54, 99, 71, 0.904);
}

.b10{
    background-image: url("images/image16.png");
    background-size: 100%;
    margin-left: 5%;
    background-color: rgba(54, 99, 71, 0.904);
    border: 12px;
    color: white;
    padding: 50px 35px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(54, 99, 71, 0.904);
}
.b11{
    background-image: url("images/image17.png");
    background-size: 100%;
    margin-left: 5%;
    background-color: rgba(54, 99, 71, 0.904);
    border: 12px;
    color: white;
    padding: 50px 35px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(54, 99, 71, 0.904);
}

.b12{
    margin-left: 5%;
    background-color: rgba(54, 99, 71, 0.904);
    border: 12px;
    color: white;
    padding: 50px 35px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(54, 99, 71, 0.904);
}

.b13{
    background-image: url("images/image18.png");
    background-size: 100%;
    margin-left: 5%;
    background-color: rgba(54, 99, 71, 0.904);
    border: 12px;
    color: white;
    padding: 50px 35px;
    font-size: 16px;
    border-radius: 75%/70%;
    box-shadow: inset 10px 5px 15px rgba(54, 99, 71, 0.904);
}