@import "./constants.css";

/* Div the encapsulates the entire body */
.LoadingBigDiv {
	position: fixed;

	top: 0px;
	left: 0px;
	width: calc(1920 * var(--screenWidth));
	height: calc(1080 * var(--screenHeight));

	z-index: -100000;
	background-image:url("../assets/background.jpg");
}

.loader {
	position: absolute;
	top: calc(100 * var(--screenWidth));
	left: calc(0 * var(--screenHeight));
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
