  /* * {
  box-sizing: border-box;
} */

/* @font-face { */
/* font-family: 'MyWebFont'; */
/* src: url('../data/dalekpinpointbold-webfont.woff') format('woff'); Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
/* url('../data/DalekPinpointBold.ttf') format('truetype'); Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
/* }  */

@font-face {
  font-family: "cartogothic_stdbook";
  src: url("../data/fonts/cartogothic/cartogothicstd-book-webfont.woff2")
      format("woff2"),
    url("../data/fonts/cartogothic/cartogothicstd-book-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cartogothic_stdbook_bold";
  src: url("../data/fonts/cartogothic/CartoGothicStd-Bold.woff2")
      format("woff2"),
    url("../data/fonts/cartogothic/CartoGothicStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.intro-page {
  /* background-image: url(../data/images/bg-2.png);  */
  font-family: cartogothic_stdbook;
  font-size: larger;
  color: rgb(0, 0, 0);
}

.class-title {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0;
  /* padding: 0; */
  font-size: calc(10px + 2vmin);
  vertical-align: top;
  display: inline-block;
}

.intro-main-title {
  position: absolute;
  display: flex;
  flex-direction: column;

  text-align: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-main-subtitle {
  margin-top: -10px;
  width: 500px;
  font-family: "cartogothic_stdbook_bold";
  font-size: 15px;
}

.flex-intro-buttons{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  text-decoration: solid;
  border-radius: 10px;
}

.title-logo {
  height: 280px;
  width: 250px;
}

.intro-main-title-h1 {
  color: #2d616a;
  font-size: calc(20px + 6vmin);
  margin-top: -30px;
  font-family: cartogothic_stdbook_bold;
}

.intro-main-title-h2 {
  font-family: cartogothic_stdbook_bold;
  margin-top: -15px;
  color: "#2d616a";
}

.intro-read-coin {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.class-scroll {
  height: 50px;
  width: 50px;
  margin-top: 20px;
}

#intro-style-para {
  margin: auto;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
}

#intro-style-rsrc {
  margin: auto;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}

#intro-style-sub {
  margin: 0;
  background-color: WhiteSmoke;
  color: #2d616a;
  border-radius: 10px;
  padding: 40px;
  font-size: 18px;
  width: 300px;
}

#intro-style-head {
  margin: auto;
  color: white;
  width: 1000px;
  border-radius: 10px;
  padding: 10px;
  font-size: 45px;
}

#term {
  font-style: oblique;
  font-weight: bolder;
}

 .header-explore-left {
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin-right: 40px;
  width: 300px;
  background-image: var(--div-bg-2);
}

.header-explore-right {
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin-left: 40px;
  width: 300px;
  background-image: var(--div-bg-2);
}

.read-coin {
  /* position: absolute; */
  /* display: block; */
  padding: 0;
  text-align: center;
  top: 90%;
}

.size-images {
  height: 250px;
  width: 250px;
  padding: 20px;
}

.size-images-head {
  height: 400px;
  width: 400px;
  padding: 60px;
}

.size-images-mix {
  height: 220px;
  width: 240px;
  vertical-align: middle;
  padding: 20px;
}

.align-subtitle {
  text-align: center;
  padding: 20px;
}

.label-image {
  /* vertical-align: top; */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.caption {
  display: block;
  width: 200px;
}

/* INTERACTIVE COIN*/

.component-mix {
  color: black;
}

.threeD-coin {
  position: absolute;
  top: 250%;
  left: 50%;
  display: flex;
  font-size: larger;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

/* INTRO SECTION 1 */

.intro-1-head {
  position: absolute;
  top: 150%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: #2d616a;
  width: 100%;
  height: 100%;
  padding: 100px;
}

.intro-1-head img {
  padding: 20px;
  width: 400px;
  height: 400px;
  margin: auto;
}

.intro-1-2 {
  position: absolute;
  top: 310%;
  left: 50%;
  display: flex;
  font-size: larger;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.intro-1-3 {
  position: absolute;
  font-size: larger;
  top: 370%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

/* INTRO SECTION 2 */

.intro-2-head {
  position: absolute;
  top: 470%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: #2d616a;
  width: 100%;
  height: 100%;
  padding: 100px;
}

.intro-2-head img {
  padding: 80px;
  margin: auto;
}

.intro-2-1 {
  position: absolute;
  top: 570%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.intro-2-2 {
  position: absolute;
  top: 630%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.intro-2-3 {
  position: absolute;
  font-size: larger;
  top: 690%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.intro-2-4 {
  position: absolute;
  font-size: larger;
  top: 750%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

/* INTRO SECTION 3 */

.intro-3-head {
  position: absolute;
  top: 850%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: #2d616a;
  width: 100%;
  height: 100%;
  padding: 100px;
}

.intro-3-1 {
  position: absolute;
  top: 950%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-3-2 {
  position: absolute;
  font-size: larger;
  top: 1010%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-3-3 {
  position: absolute;
  font-size: larger;
  top: 1070%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.intro-3-4 {
  position: absolute;
  top: 1130%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-3-5 {
  position: absolute;
  top: 1190%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

/* INTRO SECTION 4 */

.intro-4-head {
  position: absolute;
  top: 1290%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: #2d616a;
  width: 100%;
  height: 100%;
  padding: 100px;
}

.intro-4-1 {
  position: absolute;
  top: 1390%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-4-2-up {
  position: absolute;
  top: 1450%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-4-2 {
  position: absolute;
  top: 1475%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-4-3-up {
  position: absolute;
  top: 1530%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-4-3 {
  position: absolute;
  top: 1550%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-4-4 {
  position: absolute;
  top: 1610%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-4-5 {
  position: absolute;
  top: 1670%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.align-subtitle-caption {
  text-align: center;
  padding: 20px;
  position: absolute;
  width: 400px;
}

/*.component-20 {
  position: absolute;
  font-size: larger;
  top: 1460%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-21 {
  position: absolute;
  font-size: larger;
  top: 1520%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}*/

/* INTRO SECTION 5 */

.intro-5 {
  position: absolute;
  top: 1730%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  padding: 100px;
}

.intro-5-1 {
  position: absolute;
  top: 1790%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.intro-resources {
  top: 1850%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: left;
  align-items: center;
  width: 500px;
  background-color: WhiteSmoke;
}

#intro-style-footer {
  background-image: var(--div-bg-2);
  text-decoration: none;
  padding: 10px;
  width: 200px;
  margin: 20px;
  margin-bottom: 500px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

img {
  height: 250px;
  width: 250px;
}

.binding {
  margin: 50px;
}

.span-class {
  float: left;
}

.span-class-right {
  float: right;
}

/* .class-intro {
    text-align: center;
} */

.anime-style {
  margin: 50px auto;
  display: flex;
}
