.class-contact-para {
    position: absolute;
    bottom: 0;
    font-size: large;
    top: 50%;
    left: 50%;
    font-family: 'CormorantGaramond-Bold';
    transform: translate(-50%, -50%);
    width: 800px;
    text-align: center;
    
  }