.App {
  text-align: center;
}

.main {
  background-color: aqua;
}

/* logo styling */
body {
  height: 20px;
  color: red;
}

.red {
  color: red;
  font-size: large;
}

.class-tweets {
  color: blue;
}
