body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* Load syrios-entypo-subset font */
@font-face {
  font-family: 'syrios-entypo-subset';
  src: url('src/assets/SyriosFontAndIcons/font/syrios-entypo-subset.eot?47545076');
  src: url('src/assets/SyriosFontAndIcons/font/syrios-entypo-subset.eot?47545076#iefix') format('embedded-opentype'),
  url('src/assets/SyriosFontAndIcons/font/syrios-entypo-subset.woff?47545076') format('woff'),
  url('src/assets/SyriosFontAndIcons/font/syrios-entypo-subset.ttf?47545076') format('truetype'),
  url('src/assets/SyriosFontAndIcons/font/syrios-entypo-subset.svg?47545076#syrios-entypo-subset') format('svg');
  font-weight: normal;
  font-style: normal;
}

.demo-icon
{
  font-family: "syrios-entypo-subset";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

html { 
  background: url(src/assets/background.jpg); 
}
