/* padding used for container-fluid */
.pr-6,
.px-6 {
    padding-right: 10rem !important;
}
.pl-6,
.px-6 {
    padding-left: 10rem !important;
}

/* spacers used for container rows */
.top-buffer-1 { margin-top:150px; }
.top-buffer-2 { margin-top:250px; }
.top-spacer-05 { margin-top:50px; }
.top-spacer-1 { margin-top:100px; }
.top-spacer-2 { margin-top:200px; }
.top-spacer-3 { margin-top:300px; }
.top-spacer-4 { margin-top:400px; }
.top-spacer-5 { margin-top:500px; }
.top-spacer-6 { margin-top:600px; }

/* highlight terms */
#term {
    font-family: CormorantGaramond-BoldItalic;
    color: #E3B287;
}

/* text styling */

#para-blue-bg {
  background-color: #2d616a;
  padding: 10px;
  color: white;
}

/* image style/sizing */
.img-responsive {
    height: auto;
    width: 100%;
}

.size-images-sm {
    height: 120px;
    width: 120px;
    padding: 10px;
    padding-bottom: 20px;
}

.size-images-md {
    height: 200px;
    width: 200px;
    padding: 20px;
}

.size-images {
    height: 250px;
    width: 250px;
    padding: 20px;
}

.size-images-head {
    height: 300px;
    width: 300px;
}

.size-images-600 {
    height: auto;
    width: 600px;
}

.size-images-400 {
    height: auto;
    width: 400px;
}

.profile_img {
    height: auto;
    width: 100%;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
}

.bg-img {
    position: absolute;
    z-index: -10;
}

/* line on left side in navigation pages */
.show_line_on_side {
    padding-top: 50px;
    padding-bottom: 80px;
    border-right: 10px solid #17434A;
}
