/* * {
  box-sizing: border-box;
} */

/* @font-face { */
/* font-family: 'MyWebFont'; */
/* src: url('../data/dalekpinpointbold-webfont.woff') format('woff'); Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
/* url('../data/DalekPinpointBold.ttf') format('truetype'); Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
/* }  */

@font-face {
  font-family: "cartogothic_stdbook";
  src: url("../data/fonts/cartogothic/cartogothicstd-book-webfont.woff2")
      format("woff2"),
    url("../data/fonts/cartogothic/cartogothicstd-book-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cartogothic_stdbook_bold";
  src: url("../data/fonts/cartogothic/CartoGothicStd-Bold.woff2")
      format("woff2"),
    url("../data/fonts/cartogothic/CartoGothicStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.intro-page {
  /* background-image: url(../data/images/bg-2.png);  */
  font-family: cartogothic_stdbook_bold;
  font-size: larger;
  color: rgb(0, 0, 0);
}

.class-title {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0;
  /* padding: 0; */
  font-size: calc(10px + 2vmin);
  vertical-align: top;
  display: inline-block;
}

.intro-main-title {
  position: absolute;
  display: flex;
  flex-direction: column;

  text-align: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-main-subtitle {
  margin-top: -10px;
  width: 500px;
  font-family: "cartogothic_stdbook_bold";
  font-size: 15px;
}

.flex-intro-buttons{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  text-decoration: solid;
  border-radius: 10px;
}

.title-logo {
  height: 280px;
  width: 250px;
}

.intro-main-title-h1 {
  color: #2d616a;
  font-size: calc(20px + 6vmin);
  margin-top: -30px;
  font-family: cartogothic_stdbook_bold;
}

.intro-main-title-h2 {
  font-family: cartogothic_stdbook_bold;
  margin-top: -15px;
  color: "#2d616a";
}

.intro-read-coin {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.class-scroll {
  height: 50px;
  width: 50px;
  margin-top: 20px;
}

#intro-style-para {
  /* background-image: var(--div-bg); */
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  /* color: white; */
  font-weight: 400;
}

#intro-style-para-blue {
  background-image: var(--div-bg);
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 400;
}

 .header-explore-left {
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin-right: 40px;
  width: 300px;
  background-image: var(--div-bg-2);
}

.header-explore-right {
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin-left: 40px;
  width: 300px;
  background-image: var(--div-bg-2);
}

.read-coin {
  /* position: absolute; */
  /* display: block; */
  padding: 0;
  text-align: center;
  top: 90%;
}

.size-images {
  height: 140px;
  width: 140px;
  padding: 20px;
}

.size-images-mix {
  height: 220px;
  width: 240px;
  vertical-align: middle;
  padding: 20px;
}

.align-subtitle {
  text-align: center;
  padding: 20px;
}

.label-image {
  /* vertical-align: top; */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.caption {
  display: block;
  width: 200px;
}

#style-caption {
  display: block;
  width: 200px;
  font-size: large;
  color: white;
  background-image: var(--div-bg);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}

.component-mix {
  color: black;
}

.threeD-coin {
  position: absolute;
  top: 190%;
  left: 50%;
  display: flex;
  font-size: larger;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-1 {
  position: absolute;
  top: 130%;
  left: 50%;
  display: flex;
  font-size: larger;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-1-2 {
  position: absolute;
  top: 260%;
  left: 50%;
  display: flex;
  font-size: larger;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-2 {
  position: absolute;
  font-size: larger;
  top: 300%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-3 {
  position: absolute;
  font-size: larger;
  top: 345%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-4 {
  position: absolute;
  font-size: larger;
  top: 390%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-5 {
  position: absolute;
  font-size: larger;
  top: 460%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-6 {
  position: absolute;
  font-size: larger;
  top: 530%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-7 {
  position: absolute;
  font-size: larger;
  top: 600%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-8 {
  position: absolute;
  font-size: larger;
  top: 650%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-9 {
  position: absolute;
  font-size: larger;
  top: 670%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-10 {
  position: absolute;
  font-size: larger;
  top: 720%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-11 {
  position: absolute;
  font-size: larger;
  top: 740%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-12 {
  position: absolute;
  font-size: larger;
  top: 990%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-13 {
  position: absolute;
  font-size: larger;
  top: 1030%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.align-subtitle-caption {
  text-align: center;
  padding: 20px;
  position: absolute;
  width: 400px;
}

.component-14 {
  position: absolute;
  font-size: larger;
  top: 890%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-15 {
  position: absolute;
  font-size: larger;
  top: 930%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-16 {
  position: absolute;
  font-size: larger;
  top: 980%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-17 {
  position: absolute;
  font-size: larger;
  top: 1080%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-18 {
  position: absolute;
  font-size: larger;
  top: 790%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-19 {
  position: absolute;
  font-size: larger;
  top: 840%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-30 {
  position: absolute;
  font-size: larger;
  top: 1130%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-20 {
  position: absolute;
  font-size: larger;
  top: 1460%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-21 {
  position: absolute;
  font-size: larger;
  top: 1520%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

.component-22 {
  position: absolute;
  font-size: larger;
  top: 1200%;
  left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  text-decoration: solid;
}

#intro-style-footer {
  background-image: var(--div-bg-2);
  text-decoration: none;
  padding: 10px;
  width: 200px;
  margin: 20px;
  margin-bottom: 500px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

img {
  height: 250px;
  width: 250px;
}

.binding {
  margin: 50px;
}

.span-class {
  float: left;
}

.span-class-right {
  float: right;
}

/* .class-intro {
    text-align: center;
} */

.anime-style {
  margin: 50px auto;
  display: flex;
}
