@font-face {
  font-family: "cartogothic_stdbook";
  src: url("../data/fonts/cartogothic/cartogothicstd-book-webfont.woff2")
      format("woff2"),
    url("../data/fonts/cartogothic/cartogothicstd-book-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cartogothic_stdbook_bold";
  src: url("../data/fonts/cartogothic/CartoGothicStd-Bold.woff2")
      format("woff2"),
    url("../data/fonts/cartogothic/CartoGothicStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

div[data-aos-duration='4000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
  }

.class-eco-story {
  font-family: cartogothic_stdbook;
  font-size: larger;
}

.class-eco-title {
  text-align: center;
  position: absolute;
  font-size: xx-large;
  /* display: flex; */
  /* flex-direction: column; */
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.class-eco-title p, h1 {
    margin: 0;
    font-family: cartogothic_stdbook_bold;
}

#green {
    color: #2d616a;
}

#bronze {
    color: #692727;
}

#sub-title {
    margin-top: 50px;
}

img {
    height: 150px;
    width: 150px;    
}

.eco-component-1 {
    top: 120%;
    left: 50%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

#style-para {
    background-image: var(--div-bg);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.eco-component-1 img {
    padding: 30px;
}

.eco-component-2 {
    top: 170%;
    left: 50%;
    width: 100%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-2 img{
    height: 60px;
    width: 60px;
}

.eco-component-3 {
    top: 240%;  
    left: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-3 img{
    height: 305px;
    width: 420px;
}

.eco-component-4 {
    top: 320%;  
    left: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-4 img{
    height: 160px;
    width: 130px;
    padding: 20px;
}

.eco-component-5 {
    top: 380%;  
    left: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-5 img{
    height: 30px;
    width: 30px;
}

.flex-column {
    top: 380%;  
    left: 50%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.flex-column img {
    height: 30px;
    width: 30px;
}

#comp-5-silver-coin {
    height: 150px;
    width: 150px;
}

.eco-component-6 {
    top: 480%;  
    left: 50%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-7 {
    top: 550%;  
    left: 50%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

#comp-7-bronze {
    height: 70px;
    width: 70px;
}

.eco-component-8 {
    top: 620%;  
    left: 50%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-9 {
    top: 695%;  
    left: 50%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-10 {
    top: 715%;  
    left: 50%;
    height: 600px;
    width: 800px;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-11 {
    top: 775%;  
    left: 50%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-12 {
    top: 835%;  
    left: 50%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.eco-component-13 {
    top: 850%;  
    left: 50%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

#eco-intro-style-footer{
    background-image: var(--div-bg-2);
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }