
#about {
  z-index: 0;
  padding-top: 10em;
  padding-bottom: 10em;
}


.about-member-pictures {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

.about-member-pictures img {
  height: 100%;
}

.about-member-pictures-outline {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#about-digital-team {
  margin-top: 100px;
  font-size: 5em;
}

.row-decrease-to-paragraph-size {
  margin-bottom: -1em;
}

.about-acknowlegments p a {
  text-decoration: underline !important;
  color: #486678;
  transition: 0.2s;
}

.about-acknowlegments p a:hover {
  color: rgba(184, 204, 216);
}
